{% extends 'base.html' %}
{% load jalali_tags %}

{% block main %}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/variable-pie.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var lineData = {
                datasets: [{
                    data: {{ user_count }}
                }],

                labels: {{ date_joined|safe }},

            };
            var lineOptions = {
                responsive: true,
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            };
            var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
            var myLineChart = new Chart(lineChartCanvas, {
                type: 'line',
                data: lineData,
                options: lineOptions
            });
        });
    </script>
    <div class="container">
        <div class="row">
            <div class="pull-right" style="margin-right: 20px;">
                <h1></h1>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" dir="rtl" role="alert"
                     style="padding: 5px; text-align: center;">
                    <p style="display: inline-block;">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-9" dir="rtl">
                {% block contents %}
                    <div class="row">
                        <div class="col-md-5">
                            <div id="container"></div>
                            <script type="text/javascript">
                                Highcharts.chart('container', {
                                    chart: {
                                        plotBackgroundColor: null,
                                        plotBorderWidth: null,
                                        plotShadow: false,
                                        type: 'pie',
                                        style: {
                                            fontFamily: "\'BKoodakBold\'"
                                        }
                                    },
                                    title: {
                                        text: 'تعداد اقامتگاه‌ها'
                                    },
                                    tooltip: {
                                        pointFormat: '<div style="font-family: \'BKoodakBold\'">{series.name}: {point.y}</div>',
                                        useHTML: true,
                                        style: {
                                            direction: 'rtl',
                                            textAlign: 'right'
                                        }
                                    },
                                    plotOptions: {
                                        pie: {
                                            allowPointSelect: true,
                                            cursor: 'pointer',
                                            dataLabels: {
                                                enabled: false
                                            },
                                            showInLegend: true
                                        }
                                    },
                                    series: [{
                                        name: 'تعداد',
                                        colorByPoint: true,
                                        data: [{
                                            name: 'هتل',
                                            y: {{ hotels }},
                                            sliced: true,
                                            selected: true
                                        }, {
                                            name: 'اقامتگاه محلی',
                                            y: {{ motels }}
                                        }, {
                                            name: 'منزل شخصی',
                                            y: {{ houses }}
                                        }]
                                    }]
                                });
                            </script>
                        </div>
                        <div class="col-md-4">
                            <div id="columns"></div>
                            <script type="text/javascript">
                                Highcharts.chart('columns', {
                                    chart: {
                                        style: {
                                            fontFamily: "\'BKoodakBold\'"
                                        }
                                    },

                                    title: {
                                        text: 'تعداد کاربران'
                                    },

                                    legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                    },
                                    xAxis: {
                                        categories: {{ date_joined|safe }},
                                        crosshair: true
                                    },
                                    yAxis: {
                                        title: {
                                            text: ''
                                        }
                                    },
                                    plotOptions: {
                                        series: {
                                            label: {
                                                connectorAllowed: false
                                            }
                                        }
                                    },
                                    tooltip: {
                                        useHTML: true,
                                        style: {
                                            direction: 'rtl',
                                            textAlign: 'right'
                                        }
                                    },
                                    series: [{
                                        name: 'تعداد',
                                        data: {{ user_count }}
                                    }],

                                    responsive: {
                                        rules: [{
                                            condition: {
                                                maxWidth: 500
                                            },
                                            chartOptions: {
                                                legend: {
                                                    layout: 'horizontal',
                                                    align: 'center',
                                                    verticalAlign: 'bottom'
                                                }
                                            }
                                        }]
                                    }

                                });
                            </script>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="box filter">
                        <ul class="links" dir="rtl">
                            <li><a href="{% url 'admin_dashboard_users' %}">کاربران</a></li>
                            <li><a href="{% url 'admin_dashboard_accommodations' %}">اقامتگاه‌ها</a>
                                <ul class="links" dir="rtl">
                                    {% block auth %}
                                    {% endblock %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}