{% extends 'base.html' %}
{% load jalali_tags %}

{% block main %}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/variable-pie.js"></script>
    <div class="container">
        <div class="row">
            <div class="pull-right" style="margin-right: 20px;">
                <h1></h1>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" dir="rtl" role="alert"
                     style="padding: 5px; text-align: center;">
                    <p style="display: inline-block;">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-9" dir="rtl">
                {% block contents %}
                    <div class="row">
                        <div id="earnings"></div>
                        <script>
                            Highcharts.chart('earnings', {
                                chart: {
                                    zoomType: 'x',
                                    style: {
                                        fontFamily: "\'BKoodakBold\'"
                                    }
                                },
                                title: {
                                    text: 'درآمد کسب شده'
                                },
                                subtitle: {
                                    text: document.ontouchstart === undefined ?
                                        'برای زوم کردن روی نمودار کلیک کنید و بکشید' : 'Pinch the chart to zoom in'
                                },
                                xAxis: {
                                    type: 'datetime',
                                    units: [['days', [1]]]
                                },
                                yAxis: {
                                    title: {
                                        text: 'درآمد کسب شده (تومان)',
                                        style: {
                                            direction: "rtl"
                                        }
                                    }
                                },
                                legend: {
                                    enabled: false
                                },
                                plotOptions: {
                                    area: {
                                        fillColor: {
                                            linearGradient: {
                                                x1: 0,
                                                y1: 0,
                                                x2: 0,
                                                y2: 1
                                            },
                                            stops: [
                                                [0, Highcharts.getOptions().colors[0]],
                                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                            ]
                                        },
                                        marker: {
                                            radius: 2
                                        },
                                        lineWidth: 1,
                                        states: {
                                            hover: {
                                                lineWidth: 1
                                            }
                                        },
                                        threshold: null
                                    }
                                },

                                series: [{
                                    type: 'area',
                                    name: 'درآمد',
                                    data: {{ earnings|safe }}
                                }]
                            });
                        </script>
                    </div>
                    <div class="row" style="margin-top: 20px; margin-left: -30px; margin-right: -31px">
                        <div class="col-md-6" style="width: 650px;">
                            <div id="reserve" class="box background-color-white"></div>
                            <script>
                                Highcharts.chart('reserve', {
                                    chart: {
                                        type: 'column',
                                        style: {
                                            fontFamily: "\'BKoodakBold\'"
                                        }
                                    },
                                    title: {
                                        text: 'رزروهای انجام شده و لغو شده'
                                    },
                                    xAxis: {
                                        categories: {{ reserve_month|safe }},
                                        crosshair: true
                                    },
                                    yAxis: {
                                        min: 0,
                                        title: {
                                            text: 'تعداد رزروها'
                                        }
                                    },
                                    tooltip: {
                                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                            '<td style="padding:0"><b>{point.y}</b></td></tr>',
                                        footerFormat: '</table>',
                                        shared: true,
                                        useHTML: true,
                                        style: {
                                            direction: 'rtl',
                                            textAlign: 'right'
                                        }
                                    },
                                    plotOptions: {
                                        column: {
                                            pointPadding: 0.2,
                                            borderWidth: 0
                                        }
                                    },
                                    series: [{
                                        name: 'رزروهای انجام شده',
                                        data: {{ reserve_count|safe }}

                                    },
                                        {name: 'رزروهای لغو شده'}]
                                });
                            </script>
                        </div>
                        <div class="col-md-3 pull-right" style="width: 250px">
                            <div class="box background-color-white" style="height: 150px">
                                <p>تعداد رزروها: {{ all_count }}</p>
                                <p>تعداد رزروهای لغو شده: {{ all_cancelled_count }}</p>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="box filter">
                        <ul class="links" dir="rtl">
                            <li><a href="{% url 'admin_dashboard_users' %}">کاربران</a></li>
                            <li><a href="{% url 'admin_dashboard_accommodations' %}">اقامتگاه‌ها</a>
                                <ul class="links" dir="rtl">
                                    {% block auth %}
                                    {% endblock %}
                                </ul>
                            </li>
                            <li><a href="{% url 'admin_dashboard_accommodations_stats' %}">آمار اقامتگاه‌ها</a>
                        </ul>
                    </div>
                </div>
                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}