{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="pull-right" style="margin-right: 20px;">
                <h1></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                {% block contents %}
                {% endblock %}
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="box filter">
                        <ul class="links" dir="rtl">
                            <li><a href="{% url 'admin_dashboard_users' %}">کاربران</a></li>
                            <li><a href="#">اقامتگاه‌ها</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}