<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.min.css' %}" type="text/css">
    <link href="{% static 'assets/fonts/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/fonts/elegant-fonts.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/zabuto_calendar.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">


    <title>مکان</title>

</head>

<body>
<div class="page-wrapper">
    <div id="page-header">
        <header>
            <div class="container">
                <div class="secondary-nav">
                    <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false"
                                                aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
                    <div id="secondary-nav">
                        <nav>
                            <div class="right">
                                {% if not request.user.is_authenticated %}
                                    <div class="element">
                                        <a href="" data-toggle="modal" data-tab="true"
                                           data-target="#sign-in-modal">ورود</a>
                                    </div>
                                    <div class="element">
                                        <a href="{% url 'register' %}">ثبت نام</a>
                                    </div>
                                {% else %}
                                    <div class="element">
                                        <a href="{% url 'logout' %}">خروج</a>
                                    </div>
                                    <div class="element">
                                        <a href="{% url 'update_profile' %}">ویرایش اطلاعات</a>
                                    </div>
                                {% endif %}
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="primary-nav">
                    <div class="left">
                        <a href="{% url 'home' %}" id="brand"><img src="{% static 'assets/img/logo.png' %}" alt=""
                                                                   style="height: 25px; width: 100px"></a>
                        <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false"
                           aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
                    </div>
                    <div class="right">
                        <nav id="primary-nav">
                            <ul>
                                <li class="active"><a href="{% url 'home' %}">خانه</a></li>
                                {% if request.user.is_authenticated and request.user.is_host %}
                                    <li class="submit"><a href="{% url 'create_accommodation' %}"><span>Submit</span><i
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="ثبت اقامتگاه"><img
                                            src="{% static 'assets/img/plus.png' %}" alt=""></i></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="modal fade" id="sign-in-modal" role="dialog"
         aria-labelledby="sign-in-register-modal">
        <div class="wrapper">
            <div class="inner">
                <div class="modal-dialog width-400px" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <ul class="nav nav-tabs ">
                                <li role="presentation" class="active"><a href="#tab-sign-in"
                                                                          aria-controls="tab-sign-in" role="tab"
                                                                          data-toggle="tab"><h1
                                        style="margin-left: 70px">ورود به حساب کاربری</h1></a></li>
                            </ul>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="form-sign" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="form-sign-in-username" class="pull-right">نام کاربری</label>
                                    <input type="text" class="form-control" id="form-sign-in-username"
                                           name="username" placeholder="نام کاربری">
                                </div>
                                <div class="form-group">
                                    <label for="form-sign-in-password" class="pull-right">رمز عبور</label>
                                    <input type="password" class="form-control" id="form-sign-in-password"
                                           name="password" placeholder="*****">
                                </div>
                                <div class="clearfix action">
                                    <div class="form-group center">
                                        <button type="submit" class="btn btn-primary btn-rounded">ورود
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="center">
                                <div><a href="{% url 'password_reset' %}">رمز خود را فراموش کرده‌اید؟</a></div>
                                <div><a href="{% url 'register' %}">ثبت نام</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page-content">
        {% block main %}
        {% endblock %}
    </div>

    <footer id="page-footer">
        <div class="row-two clearfix">
            <div class="container">
                <div class="copyright pull-left">(C) 2019 Makan, All Rights Reserved</div>
                <div class="footer-nav pull-right">
                    <a href="{% url 'home' %}">خانه</a>
                </div>
            </div>
            <div class="bg-transfer"><img src="{% static 'assets/img/footer-bg.jpg' %}" alt=""></div>
        </div>
    </footer>
</div>
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>


<script type="text/javascript" src="{% static 'assets/js/jquery-2.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/infobox.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/markerclusterer_packed.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/richmarker-compiled.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/markerwithlabel_packed.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'assets/js/ir-city-select.js' %}"></script>

<!--[if lte IE 9]>
<script src="assets/js/ie.js"></script>
<![endif]-->
<script>
    function initMap() {
        var iran = {lat: 32.4279, lng: 53.6880};
        var map = new google.maps.Map(
            document.getElementById('main-map'), {zoom: 4, center: iran});
        var marker = new google.maps.Marker({position: iran, map: map});
    }
</script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTZV4M-PTZDNf6oPOMn3JIgYtzV3lfaDk&callback=initMap">
</script>
</body>
