{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="main-content float-right" dir="rtl">
        <form class="form-submit labels-uppercase" id="form-submit" enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            {{form.errors}}
            {{amenity_form.errors}}
            <section id="main-information">
                <div class="title">
                    <h2>اطلاعات اصلی</h2>
                    <aside class="step">1</aside>
                </div>
                <div class="row">
                    <div class="col-md-7 pull-right">
                        <div class="form-group">
                            <label for="form-submit-title">نام<em>*</em></label>
                            <input type="text" class="form-control" id="form-submit-title" name="title"
                                   placeholder="نام اقامتگاه" required="">
                        </div>
                    </div>
                    <div class="col-md-5 pull-right">
                        <div class="form-group">
                            <label for="object-type">نوع اقامتگاه</label>
                            <select class="framed width-100" name="accommodation_type" id="object-type">
                                <option value="Hotel">هتل</option>
                                <option value="Motel">اقامتگاه بومی (متل)</option>
                                <option value="House">منزل شخصی</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 pull-right">
                        <div class="form-group">
                            <label for="form-submit-description">توضیحات<em>*</em></label>
                            <textarea class="form-control" id="form-submit-description" rows="10" name="description"
                                      required="" placeholder="اقامتگاه خود را توصیف کنید"></textarea>
                        </div>
                    </div>
                </div>
            </section>
            <section id="location">
                <div class="row">
                    <div class="col-md-7 pull-right">
                        <div class="title">
                            <h2>موقعیت</h2>
                            <aside class="step">2</aside>
                        </div>
                        <div class="form-group">
                            <label for="city-autocomplete">شهر<em>*</em></label>
                            <input type="text" class="form-control" id="city-autocomplete" name="city"
                                   placeholder="شهر" required="">
                        </div>
                        <div class="form-group">
                            <label for="address-autocomplete">آدرس<em>*</em></label>
                            <input type="text" class="form-control" id="address-autocomplete" name="address"
                                   placeholder="آدرس اقامتگاه" required="">
                        </div>
                        <div class="form-group">
                            <label>محل روی نقشه</label>
                            <div class="map height-300 box" id="map-item"></div>
                        </div>
                        <div class="form-group hidden">
                            <input type="text" class="form-control" id="latitude" name="latitude" hidden="">
                            <input type="text" class="form-control" id="longitude" name="longitude" hidden="">
                        </div>
                    </div>
                    <div class="col-md-5 pull-right">
                        <h2>راه‌های ارتباطی</h2>
                        <div class="form-group">
                            <label for="form-submit-email">ایمیل</label>
                            <input type="email" class="form-control" id="form-submit-email" name="email"
                                   placeholder="hello@example.com">
                        </div>
                        <div class="form-group">
                            <label for="form-submit-mobile-phone">تلفن</label>
                            <input type="text" class="form-control" id="form-submit-mobile-phone" name="phone"
                                   placeholder="12 123 456 789">
                        </div>
                    </div>
                </div>
            </section>
            <section id="gallery">
                <div class="title">
                    <h2>گالری</h2>
                    <aside class="step">3</aside>
                </div>
                <div class="file-upload-previews"></div>
                <div class="file-upload">
                    <input type="file" name="image" class="file-upload-input with-preview"
                           title="برای اضافه کردن عکس کلیک کنید" accept="gif|jpg|png">
                    <span>برای اضافه کردن عکس کلیک کنید</span>
                </div>
            </section>
            <section id="facilities">
                <div class="title">
                    <h2>امکانات</h2>
                    <aside class="step">4</aside>
                </div>
                <div class="row">
                    <div class="col-md-4 pull-right">
                        <h3>تکنولوژی و چندرسانه‌ای</h3>
                        <ul class="checkboxes inline half list-unstyled">
                            <li><label><input type="checkbox" name="has_tv">تلویزیون</label></li>
                            <li><label><input type="checkbox" name="has_wifi">اینترنت</label></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pull-right">
                        <h3>سرویس‌ها</h3>
                        <ul class="checkboxes inline half list-unstyled">
                            <li><label><input type="checkbox" name="has_roomservice">سرویس نظافت اتاق</label></li>
                            <li><label><input type="checkbox" name="has_laundry">شست و شوی لباس</label></li>
                        </ul>
                    </div>
                    <div class="col-md-4 pull-right">
                        <h3>عمومی</h3>
                        <ul class="checkboxes inline half list-unstyled">
                            <li><label><input type="checkbox" name="has_parking">پارکینگ</label></li>
                            <li><label><input type="checkbox" name="has_safe">صندوق امانات</label></li>
                            <li><label><input type="checkbox" name="has_elevator">آسانسور</label></li>
                            <li><label><input type="checkbox" name="has_warm_ac">تهویه‌ی هوای گرم</label></li>
                            <li><label><input type="checkbox" name="has_cool_ac">تهویه‌ی هوای سرد</label></li>
                            <li><label><input type="checkbox" name="has_iron">اتو</label></li>
                        </ul>
                    </div>
                    <div class="col-md-4 pull-right">
                        <h3>پخت و پز</h3>
                        <ul class="checkboxes inline half list-unstyled">
                            <li><label><input type="checkbox" name="has_kitchen">آشپزخانه</label></li>
                            <li><label><input type="checkbox" name="has_utensils">وسابل آشپزی</label></li>
                            <li><label><input type="checkbox" name="has_fridge">یخچال</label></li>
                            <li><label><input type="checkbox" name="has_oven">گاز</label></li>
                        </ul>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <div class="form-group center">
                    <button type="submit" class="btn btn-primary btn-rounded btn-xlarge">ثبت اقامتگاه</button>
                </div>
            </section>
        </form>
        
    </div>


{% endblock %}