{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="container">
        <div class="main-content float-right" dir="rtl">
            <form class="form-submit labels-uppercase" id="form-submit" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;">
                                <b style="display: inline-block;">خطا! </b>
                                <p style="display: inline-block;">{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" dir="rtl" role="alert"
                             style="padding: 5px; text-align: center;">
                            <b style="display: inline-block;">خطا! </b>
                            <p style="display: inline-block;">{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if amenity_form.errors %}
                    {% for field in amenity_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;">
                                <b style="display: inline-block;">خطا! </b>
                                <p style="display: inline-block;">{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in amenity_form.non_field_errors %}
                        <div class="alert alert-danger" dir="rtl" role="alert"
                             style="padding: 5px; text-align: center;">
                            <b style="display: inline-block;">خطا! </b>
                            <p style="display: inline-block;">{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <section id="main-information">
                    <div class="title">
                        <h2>اطلاعات اصلی</h2>
                        <aside class="step">1</aside>
                    </div>
                    <div class="row">
                        <div class="col-md-7 pull-right">
                            <div class="form-group">
                                <label for="form-submit-title">نام<em>*</em></label>
                                <input type="text" class="form-control" id="form-submit-title" name="title"
                                       placeholder="نام اقامتگاه" value="{{ form.initial.title }}">
                            </div>
                        </div>
                        <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <label for="object-type">نوع اقامتگاه</label>
                                <select class="framed width-100 align-left" name="accommodation_type" id="object-type"
                                        style="-webkit-appearance: none;">
                                    <option value="هتل">هتل</option>
                                    <option value="اقامتگاه">اقامتگاه بومی (متل)</option>
                                    <option value="منزل شخصی">منزل شخصی</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 pull-right">
                            <div class="form-group">
                                <label for="form-submit-description">توضیحات<em>*</em></label>
                                <textarea class="form-control" id="form-submit-description" rows="10" name="description"
                                          placeholder="اقامتگاه خود را توصیف کنید">{{ form.initial.description }}</textarea>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="location">
                    <div class="row">
                        <div class="col-md-7 pull-right">
                            <div class="title">
                                <h2>موقعیت</h2>
                                <aside class="step">2</aside>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="province">استان<em>*</em></label>
                                    <select class="framed width-100" id="province" name="province" disabled>
                                        <option selected>{{ form.initial.province }}</option>
                                    </select>
                                    <label for="city">شهر<em>*</em></label>
                                    <select class="framed width-100" id="city" name="city" disabled>
                                        <option selected>{{ form.initial.city }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address-autocomplete">آدرس<em>*</em></label>
                                <input type="text" class="form-control" id="address-autocomplete" name="address"
                                       placeholder="آدرس اقامتگاه" value="{{ form.initial.address }}">
                            </div>
                            <div class="form-group text-center">
                                <label>محل روی نقشه</label>
                                <div class="map height-300 box" id="main-map"></div>
                            </div>
                            <div class="form-group hidden">
                                <input type="text" class="form-control" id="latitude" name="latitude" hidden="">
                                <input type="text" class="form-control" id="longitude" name="longitude" hidden="">
                            </div>
                        </div>
                        <div class="col-md-5 pull-right">
                            <h2>راه‌های ارتباطی</h2>
                            <div class="form-group">
                                <label for="form-submit-email">ایمیل</label>
                                <input type="email" class="form-control" id="form-submit-email" name="email"
                                       placeholder="hello@example.com" value="{{ form.initial.email }}">
                            </div>
                            <div class="form-group">
                                <label for="form-submit-mobile-phone">تلفن</label>
                                <input type="text" class="form-control" id="form-submit-mobile-phone" name="phone"
                                       placeholder="12 123 456 789" value="{{ form.initial.phone }}">
                            </div>
                        </div>
                    </div>
                </section>
                <section id="gallery">
                    <div class="title">
                        <h2>گالری</h2>
                        <aside class="step">3</aside>
                    </div>
                    <div class="file-upload-previews"></div>
                    <div class="file-upload">
                        <input type="file" name="image" class="file-upload-input with-preview"
                               title="برای اضافه کردن عکس کلیک کنید" accept="gif|jpg|png">
                        <span>برای اضافه کردن عکس کلیک کنید</span>
                    </div>
                </section>
                <section id="facilities">
                    <div class="title">
                        <h2>امکانات</h2>
                        <aside class="step">4</aside>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pull-right">
                            <h3>تکنولوژی و چندرسانه‌ای</h3>
                            <ul class="checkboxes inline half list-unstyled">
                                <li><label><input type="checkbox" name="has_tv" value="{{ amenity_form.initial.has_tv }}">&nbsp;تلویزیون</label></li>
                                <li><label><input type="checkbox" name="has_wifi" value="{{ amenity_form.initial.has_wifi }}">&nbsp;اینترنت</label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pull-right">
                            <h3>سرویس‌ها</h3>
                            <ul class="checkboxes inline half list-unstyled">
                                <li><label><input type="checkbox" name="has_roomservice" value="{{ amenity_form.initial.has_roomservice }}">&nbsp;سرویس نظافت اتاق</label>
                                </li>
                                <li><label><input type="checkbox" name="has_laundry" value="{{ amenity_form.initial.has_laundry }}">&nbsp;شست و شوی لباس</label></li>
                            </ul>
                        </div>
                        <div class="col-md-4 pull-right">
                            <h3>عمومی</h3>
                            <ul class="checkboxes inline half list-unstyled">
                                <li><label><input type="checkbox" name="has_parking" value="{{ amenity_form.initial.has_parking }}">&nbsp;پارکینگ</label></li>
                                <li><label><input type="checkbox" name="has_safe" value="{{ amenity_form.initial.has_safe }}">&nbsp;صندوق امانات</label></li>
                                <li><label><input type="checkbox" name="has_elevator" value="{{ amenity_form.initial.has_elevator }}">&nbsp;آسانسور</label></li>
                                <li><label><input type="checkbox" name="has_warm_ac" value="{{ amenity_form.initial.has_warm_ac }}">&nbsp;تهویه‌ی هوای گرم</label></li>
                                <li><label><input type="checkbox" name="has_cool_ac" value="{{ amenity_form.initial.has_cool_ac }}">&nbsp;تهویه‌ی هوای سرد</label></li>
                                <li><label><input type="checkbox" name="has_iron" value="{{ amenity_form.initial.has_iron }}">&nbsp;اتو</label></li>
                            </ul>
                        </div>
                        <div class="col-md-4 pull-right">
                            <h3>پخت و پز</h3>
                            <ul class="checkboxes inline half list-unstyled">
                                <li><label><input type="checkbox" name="has_kitchen" value="{{ amenity_form.initial.has_kitchen }}">&nbsp;آشپزخانه</label></li>
                                <li><label><input type="checkbox" name="has_utensils" value="{{ amenity_form.initial.has_utensils }}">&nbsp;وسابل آشپزی</label></li>
                                <li><label><input type="checkbox" name="has_fridge" value="{{ amenity_form.initial.has_fridge }}">&nbsp;یخچال</label></li>
                                <li><label><input type="checkbox" name="has_oven" value="{{ amenity_form.initial.has_oven }}">&nbsp;گاز</label></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <hr>
                <section>
                    <div class="form-group center">
                        <button type="submit" class="btn btn-primary btn-rounded btn-xlarge">ثبت تغییرات</button>
                    </div>
                </section>
            </form>

        </div>
    </div>
{% endblock %}

