{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="main-content">
        <div class="row">
            <div class="pull-right" style="margin-right: 20px;">
                <h1><a href="{% url 'register' %}" style="color: #488f3e;">اطلاعات اضافه</a></h1>
            </div>
        </div>

        <form id="form-profile" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.errors }}
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <section>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 pull-right">
                                <div class="form-group">
                                    <label for="address" class="pull-right">آدرس</label>
                                    <input type="text" class="form-control" id="address" name="home_address">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 pull-right">
                                <div class="form-group">
                                    <label for="phone_number" class="pull-right">شماره تلفن</label>
                                    <input type="text" class="form-control" id="phone_number" name="phone_number"
                                           required>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="col-md-6">
                            <div id="passport_pic" class="profile-picture single-file-preview">
                                <div class="input">
                                    <input name="passport_pic" type="file">
                                    <span>برای آپلود عکس کلیک کنید</span>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-large btn-primary btn-rounded" id="submit">ثبت نام
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
