{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="hero-section" data-height="400">
        <form id="form-hero" method='GET' action="{% url 'search' %}">
            <div class="hero-inner">
                <div class="hero-wrapper">
                    <div class="caption">
                        <div class="inner">
                            <div class="container">
                                <h1 class="center" dir="rtl">بهترین مکان را برای تعطیلات خود پیدا کنید!</h1>
                                <div class="row no-gutters" style="padding-top: 30px">
                                    <div class="col-md-6 col-sm-6 pull-right">
                                        <div class="form-group">
                                            <label class="label-on-input" for="address-autocomplete"
                                                   style="margin-left: 854px;">محل اقامت</label>
                                            <input type="text" class="form-control" id="address-autocomplete"
                                                   name="expression"
                                                   placeholder="نام مکان یا شهر مورد نظر خود را وارد کنید" dir="rtl">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 pull-right">
                                        <div class="form-group">
                                            <label class="label-on-input" for="form-check-in">تاریخ ورود</label>
                                            <input type="text" class="form-control date" id="form-check-in"
                                                   name="nights" placeholder="تاریخ ورود">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 pull-right">
                                        <div class="form-group">
                                            <label class="label-on-input" for="form-nights">تاریخ خروج</label>
                                            <input type="text" class="form-control date" id="form-check-out"
                                                   name="nights"
                                                   placeholder="تاریخ خروج">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default" dir="rtl">جست و جو</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-transfer"><img src="{% static 'assets/img/bg-hero.jpg' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="block">
        <div class="container">
            <div class="row">
                <div class="pull-right" style="margin-right: 20px;">
                    <h2>اقامتگاه‌ها</h2>
                </div>
            </div>
            <div class="row">
                {% for accommodation in object_list %}
                    <div class="col-md-3 col-sm-6 pull-right">
                        <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29"
                             data-id="1">
                            <div class="item-wrapper">
                                <div class="image">
                                    <div class="mark-circle top" data-toggle="tooltip" data-placement="right"
                                         title="{{ accommodation.description }}"><i class="fa fa-question"></i></div>
                                    <a href="{% url 'accommodation_detail' pk=accommodation.pk %}" class="wrapper">
                                        <div class="profile-pic">
                                            {% with accommodation.image_set.all|first as image %}
                                                <img class="image" src="{{ image.image.url }}" alt=""
                                                     style="height: 280px; width: 280px;">
                                            {% endwith %}
                                        </div>
                                    </a>
                                </div>
                                <div class="description">
                                    <div class="meta">
                                        <span><i class="fa fa-bed"></i>{{ accommodation.rooms }}</span>
                                    </div>
                                    <div class="info">
                                        <figure class="label label-info">{{ accommodation.accommodation_type }}</figure>
                                        <a href="{% url 'accommodation_detail' pk=accommodation.pk %}">
                                            <h3>{{ accommodation.title }}</h3></a>
                                        <figure class="location">{{ accommodation.city }}</figure>
                                    </div>
                                </div>
                                <div class="map-item">
                                    <button class="btn btn-close"><i class="fa fa-close"></i></button>
                                    <div class="map-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}