{% extends 'base.html' %}
{% load jalali_tags %}
{% block main %}
    <div class="container">
        <div class="main-content float-right" dir="rtl">
            {% if messages %}
                {% for message in messages %}
                    {% ifequal message.tags 'success' %}
                        <div class="alert alert-success" dir="rtl" role="alert"
                             style="padding: 5px; text-align: center;">
                            <p style="display: inline-block;">{{ message }}</p>
                        </div>
                    {% endifequal %}
                    {% ifequal message.tags 'error' %}
                        <div class="alert alert-danger" dir="rtl" role="alert"
                             style="padding: 5px; text-align: center;">
                            <p style="display: inline-block;">{{ message }}</p>
                        </div>
                    {% endifequal %}
                {% endfor %}
            {% endif %}
            <div class="title">
                <h1 class="inactive"><a href="{% url 'edit_accommodation' accommodation.pk %}">تغییر مشخصات اقامتگاه</a>
                </h1>
                <h1 class="inactive"><a href="{% url 'room_list' accommodation.pk %}">ویرایش اتاق‌ها</a></h1>
                <h1 class="inactive"><a href="{% url 'room_stats' accommodation.pk %}">وضعیت اتاق‌ها</a></h1>
                <h1 class="active"><a href="{% url 'accommodation_reserve' accommodation.pk %}">تاریخچه رزرو</a></h1>
                <h1 class="inactive"><a href="{% url 'accommodation_review' accommodation.pk %}">نظرات</a></h1>
            </div>
            <div class="info">
                <strong style="display: inline-block">اقامتگاه:</strong>
                <h2 class="no-margin" style="display: inline-block"><a
                        href="{% url 'accommodation_detail' pk=accommodation.pk %}">&nbsp;{{ accommodation.title }}&nbsp;</a>
                </h2>
                <hr>
            </div>
            <div class="row">
                <form class="labels-uppercase">
                    <div class="row">
                        <div class="col-md-3 pull-right">
                            <div class="form-group">
                                <label for="id_check_in_range">تاریخ ورود</label>
                                <select class="framed width-100" name="check_in_range" id="id_check_in_range">
                                    <option value="" selected="">هر تاریخی</option>
                                    <option value="1">امروز</option>
                                    <option value="2">۷ روز اخیر</option>
                                    <option value="3">این ماه</option>
                                    <option value="4">امسال</option>
                                    <option value="5">دیروز</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right">
                            <div class="form-group">
                                <label for="id_check_out_range">تاریخ خروج</label>
                                <select class="framed width-100" name="check_out_range" id="id_check_out_range">
                                    <option value="" selected="">هر تاریخی</option>
                                    <option value="1">امروز</option>
                                    <option value="2">۷ روز اخیر</option>
                                    <option value="3">این ماه</option>
                                    <option value="4">امسال</option>
                                    <option value="5">دیروز</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-4">
                            <div class="form-group">
                                <label class="invisible">Hidden label</label>
                                <button type="submit"
                                        class="btn btn-primary btn-rounded btn-framed form-control">فیلتر
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
            </div>
            <div class="reservations table-responsive">
                <table class="table table-fixed-header">
                    <thead class="header">
                    <tr>
                        <th>شماره</th>
                        <th style="padding-right: 15px">نام</th>
                        <th style="padding-right: 15px">از تاریخ</th>
                        <th style="padding-right: 15px">تا تاریخ</th>
                        <th>تعداد شب اقامت</th>
                        <th>نوع اتاق</th>
                        <th>تعداد اتاق</th>
                        <th style="padding-right: 15px">قیمت</th>
                        <th>وضعیت کنسلی</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reserve in object_list %}
                        <tr class="reservation">
                            <td style="padding-right: 10px">{{ reserve.id }}</td>
                            <td>{{ reserve.reserver.full_name }}</td>
                            <td>{{ reserve.check_in|to_jalali:'%y/%m/%d' }}</td>
                            <td>{{ reserve.check_out|to_jalali:'%y/%m/%d' }}</td>
                            <td style="padding-right: 30px">{{ reserve.stay_length }}</td>
                            <td>{{ reserve.room_type }}</td>
                            <td style="padding-right: 30px">{{ reserve.roominfo.count }}</td>
                            <td>{{ reserve.total_price }}</td>
                            {% if reserve.is_cancelled %}
                                <td><span class="circle"></span></td>
                            {% else %}
                                <td><span class="circle check"></span></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="center">
                {% if object_list %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="prev">
                                <a href="?page={{ page_obj.previous_page_number }}"><i
                                        class="arrow_left"></i></a>
                            </li>
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}
                        <li class="active">
                            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>

                        </li>

                        {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                            </li>
                            <li class="next">
                                <a href="{{ page_url }}?page={{ page_obj.next_page_number }}"><i
                                        class="arrow_right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}
                    <h4 dir="rtl" style="margin-top: 100px">هنوز کاربری اقامتگاه شما را رزرو نکرده‌‌ است.</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
