{% extends 'base.html' %}
{% load accommodation_extras %}


{% block main %}
    <div class="container">
        <div class="col-md-12 col-sm-12 pull-right" dir="rtl">
            <div class="quick-navigation" data-fixed-after-touch="">
                <div class="wrapper">
                    <ul>
                        <li><a href="#description" class="scroll">توضیحات</a></li>
                        <li><a href="#map" class="scroll">نقشه</a></li>
                        <li><a href="#facilities" class="scroll">امکانات</a></li>
                        {% if accommodation.room_set.all %}
                            <li><a href="#rooms" class="scroll">اتاق‌ها</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    {% ifequal message.tags 'success' %}
                        <div class="alert alert-success" dir="rtl" role="alert"
                             style="padding: 5px; text-align: center;">
                            <p style="display: inline-block;">{{ message }}</p>
                        </div>
                    {% endifequal %}
                    {% ifequal message.tags 'error' %}
                        <div class="alert alert-danger" dir="rtl" role="alert"
                             style="padding: 5px; text-align: center;">
                            <p style="display: inline-block;">{{ message }}</p>
                        </div>
                    {% endifequal %}
                {% endfor %}
            {% endif %}
            <div class="main-content">
                <div class="title">
                    <div class="left">
                        <h1>{{ accommodation.title }}</h1><span>&nbsp;({{ accommodation.accommodation_type }})</span>
                    </div>
                    <div class="right">
                        <a href="#map" class="icon scroll"><i class="fa fa-map-marker"></i>روی نقشه ببینید</a>
                        {% if request.user.is_authenticated %}
                            {% ifequal request.user.username accommodation.owner.user.username %}
                                <a href="" data-toggle="modal" data-tab="true"
                                   data-target="#add-room-modal" class="btn btn-primary btn-rounded scroll">اضافه کردن
                                    اتاق</a>
                                <a href="{% url 'edit_accommodation' pk=accommodation.pk %}"
                                   class="btn btn-primary btn-rounded scroll">تغییر مشخصات اقامتگاه</a>
                            {% endifequal %}
                        {% endif %}
                    </div>
                </div>

                <section>
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <ul class="carousel-indicators" style="margin-bottom: -20px">
                            {% for image in accommodation.image_set.all %}
                                {% ifequal forloop.counter0 0 %}
                                    <li data-target="#demo" data-slide-to="0" class="active"
                                        style="border-color: black"></li>
                                {% else %}
                                    <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}"
                                        style="border-color: black"></li>
                                {% endifequal %}
                            {% endfor %}
                        </ul>

                        <div class="carousel-inner">
                            {% for image in accommodation.image_set.all %}
                                {% ifequal forloop.counter0 0 %}
                                    <div class="item active image">
                                        <img src="{{ image.image.url }}" alt="" style="width: 1100px; height: 600px">
                                    </div>
                                {% else %}
                                    <div class="item image">
                                        <img src="{{ image.image.url }}" alt="" style="width: 1100px; height: 600px;">
                                    </div>
                                {% endifequal %}

                            {% endfor %}
                        </div>

                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </section>


                <h2>توضیحات</h2>
                <div class="row">
                    <div class="col-md-8 pull-right">
                        <section id="description">
                            {{ accommodation.description }}
                        </section>
                        <section id="facilities">
                            <h2>امکانات</h2>
                            <ul class="bullets half">
                                {% for amenity in accommodation.amenity.all %}
                                    <li>  {{ amenity }}  </li>
                                {% endfor %}
                            </ul>
                        </section>
                        <section id="map">
                            <h2>نقشه</h2>
                            <div id="main-map" class="map height-300 box"></div>
                        </section>
                    </div>
                    <div class="col-md-4 pull-right">
                        <div class="sidebar">
                            <aside class="box">
                                <dl>
                                    <dt>تعداد اتاق‌ها</dt>
                                    <dd>{{ accommodation.rooms }}</dd>
                                    <dt>ظرفیت مهمان</dt>
                                    <dd>{{ accommodation.guests }}</dd>
                                    <dt>اتاق یک نفره</dt>
                                    <dd>{{ accommodation.single_beds }}</dd>
                                    <dt>اتاق دو نفره</dt>
                                    <dd>{{ accommodation.double_beds }}</dd>
                                    <dt>اتاق دو نفره (تخت جدا)</dt>
                                    <dd>{{ accommodation.twin_beds }}</dd>
                                </dl>
                            </aside>
                            <aside class="text-center">
                                <address>
                                    {{ accommodation.city }}<br>
                                    {{ accommodation.address }}<br>
                                    <br>
                                    {{ accommodation.phone }}<br>
                                    <a href="#">{{ accommodation.email }}</a><br>
                                </address>
                            </aside>
                        </div>
                    </div>
                </div>
                {% if accommodation.room_set.all %}
                    <section id="rooms">
                        <h2>اتاق‌ها</h2>
                        <div class="form-reservations">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="text-align: start">نوع اتاق</th>
                                        <th style="text-align: center">تعداد مهمان</th>
                                        <th style="text-align: center">تعداد اتاق</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            {% for room in accommodation.room_set.all %}
                                <table class="table">
                                    <tbody>
                                    <tr class="room">
                                        <td class="room-type" style="text-align: start">
                                            <a href="" data-toggle="modal" data-tab="true"
                                               data-target="#room-{{ room.id }}">
                                                <h3>{% get_room_type room.bed_type %}</h3></a>
                                            <p>{{ room.description }}</p>
                                        </td>
                                        <td class="persons" style="text-align: center">{{ room.number_of_guests }}<i
                                                class="fa fa-user"></i></td>
                                        <td class="persons" style="text-align: center">{{ room.how_many }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
            </div>
        </div>
        <div class="modal fade" id="add-room-modal" role="dialog"
             aria-labelledby="sign-in-register-modal">
            <div class="wrapper">
                <div class="inner">
                    <div class="modal-dialog width-600px" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <ul class="nav nav-tabs ">
                                    <li role="presentation" class="active"><a href="#tab-sign-in"
                                                                              aria-controls="tab-sign-in" role="tab"
                                                                              data-toggle="tab"><h1
                                            style="margin-left: 200px">اضافه کردن اتاق</h1></a></li>
                                </ul>
                            </div>
                            <div class="modal-body">
                                <form class="form-submit labels-uppercase" id="form-submit"
                                      enctype="multipart/form-data"
                                      method="post" action="{% url 'create_room' accid=accommodation.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="form-group-inline">
                                                <div class="form-group width-60">
                                                    <label class="pull-right">تعداد و نوع تخت</label>
                                                    <select class="framed width-100" name="bed_type" id="room-type_1"
                                                            dir="rtl">
                                                        <option value="Single">تخت یک نفره</option>
                                                        <option value="Double">تخت دو نفره</option>
                                                        <option value="Twin">دو تخت یک نفره</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="form-group-inline">
                                                <div class="form-group width-60">
                                                    <label for="description" class="pull-right">توضیحات</label>
                                                    <textarea class="form-control" required id="description"
                                                              name="description" rows="3" dir="rtl"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="col-md-6">
                                                <div class="form-group" style="padding-right: 20px">
                                                    <label for="number-of-rooms_1">تعداد اتاق</label>
                                                    <input type="number" class="form-control" id="number-of-rooms_1"
                                                           name="how_many"
                                                           placeholder="1" value="1">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" style="padding-right: 20px">
                                                    <label for="number-of-guests_1">تعداد مهمان</label>
                                                    <input type="number" class="form-control" id="number-of-guests_1"
                                                           name="number_of_guests"
                                                           placeholder="1" value="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <section id="facilities">
                                        <div class="row">
                                            <div class="pull-right" style="margin-right: 20px;">
                                                <h4 style="color: #488f3e;">امکانات</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" dir="rtl">
                                                <ul class="checkboxes half inline list-unstyled">
                                                    {% for amenity in form.amenity %}
                                                        <li><label> {{ amenity }} </label></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div id="profile-picture" class="profile-picture single-file-preview">
                                            <div class="input">
                                                <input name="image" type="file">
                                                <span style="z-index: auto">برای آپلود عکس اتاق کلیک کنید</span>
                                            </div>
                                        </div>
                                    </section>
                                    <hr>
                                    <section>
                                        <div class="form-group center">
                                            <button type="submit" class="btn btn-primary btn-rounded btn-large">ثبت اتاق
                                            </button>
                                        </div>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for room in accommodation.room_set.all %}
            <div class="modal fade" id="room-{{ room.id }}" role="dialog"
                 aria-labelledby="sign-in-register-modal">
                <div class="wrapper">
                    <div class="inner">
                        <div class="modal-dialog width-600px" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <ul class="nav nav-tabs ">
                                        <li role="presentation" class="active"><a href="#tab-sign-in"
                                                                                  aria-controls="tab-sign-in" role="tab"
                                                                                  data-toggle="tab"><h1
                                                style="margin-left: 200px">{% get_room_type room.bed_type %}</h1></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <section>
                                            <div id="profile-picture"
                                                 class="profile-picture single-file-preview text-center">
                                                <img src="{{ room.image.url }}" alt="" class="image"
                                                     style="width: 100%">
                                            </div>
                                        </section>
                                        <div class="row">
                                            <div class="col-md-12 pull-right" dir="rtl">
                                                <h2>توضیحات</h2>
                                                <section id="description">
                                                    {{ room.description }}
                                                </section>
                                                <section id="facilities">
                                                    <h2>امکانات</h2>
                                                    <ul class="bullets half">
                                                        {% for amenity in room.amenity.all %}
                                                            <li>  {{ amenity }}  </li>
                                                        {% endfor %}
                                                    </ul>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}