{% extends 'base.html' %}
{% load accommodation_extras %}


{% block main %}
    <div class="container">
        <div class="col-md-12 col-sm-12 pull-right" dir="rtl">
            <div class="quick-navigation" data-fixed-after-touch="">
                <div class="wrapper">
                    <ul>
                        <li><a href="#description" class="scroll">توضیحات</a></li>
                        <li><a href="#map" class="scroll">نقشه</a></li>
                        <li><a href="#facilities" class="scroll">امکانات</a></li>
                        {% if accommodation.room_set.all %}
                            <li><a href="#rooms" class="scroll">اتاق‌ها</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    {% ifequal message.tags 'success' %}
                        <div class="alert alert-success" dir="rtl" role="alert"
                             style="padding: 5px; text-align: center;">
                            <p style="display: inline-block;">{{ message }}</p>
                        </div>
                    {% endifequal %}
                    {% ifequal message.tags 'error' %}
                        <div class="alert alert-danger" dir="rtl" role="alert"
                             style="padding: 5px; text-align: center;">
                            <p style="display: inline-block;">{{ message }}</p>
                        </div>
                    {% endifequal %}
                {% endfor %}
            {% endif %}
            <div class="main-content">
                <div class="title">
                    <div class="left">
                        <h1>{{ accommodation.title }}</h1><span>&nbsp;({{ accommodation.accommodation_type }})</span>
                    </div>
                    <div class="right">
                        <a href="#map" class="icon scroll"><i class="fa fa-map-marker"></i>روی نقشه ببینید</a>
                        {% if request.user.is_authenticated %}
                            {% ifequal request.user.username accommodation.owner.user.username %}
                                <a href="" data-toggle="modal" data-tab="true"
                                   data-target="#add-room-modal" class="btn btn-primary btn-rounded scroll">اضافه کردن
                                    اتاق</a>
                                <a href="{% url 'edit_accommodation' pk=accommodation.pk %}"
                                   class="btn btn-primary btn-rounded scroll">تغییر مشخصات اقامتگاه</a>
                            {% endifequal %}
                        {% endif %}
                    </div>
                </div>

                <section>
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <ul class="carousel-indicators" style="margin-bottom: -20px">
                            {% for image in accommodation.image_set.all %}
                                {% ifequal forloop.counter0 0 %}
                                    <li data-target="#demo" data-slide-to="0" class="active"
                                        style="border-color: black"></li>
                                {% else %}
                                    <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}"
                                        style="border-color: black"></li>
                                {% endifequal %}
                            {% endfor %}
                        </ul>

                        <div class="carousel-inner">
                            {% for image in accommodation.image_set.all %}
                                {% ifequal forloop.counter0 0 %}
                                    <div class="item active image">
                                        <img src="{{ image.image.url }}" alt="" style="width: 1100px; height: 600px">
                                    </div>
                                {% else %}
                                    <div class="item image">
                                        <img src="{{ image.image.url }}" alt="" style="width: 1100px; height: 600px;">
                                    </div>
                                {% endifequal %}

                            {% endfor %}
                        </div>

                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </section>


                <h2>توضیحات</h2>
                <div class="row">
                    <div class="col-md-8 pull-right">
                        <section id="description">
                            {{ accommodation.description }}
                        </section>
                        <section id="facilities">
                            <h2>امکانات</h2>
                            <ul class="bullets half">
                                {% for amenity in accommodation.amenity.all %}
                                    <li>  {{ amenity }}  </li>
                                {% endfor %}
                            </ul>
                        </section>
                        <section id="map">
                            <h2>نقشه</h2>
                            <div id="main-map" class="map height-300 box"></div>
                        </section>
                    </div>
                    <div class="col-md-4 pull-right">
                        <div class="sidebar">
                            <aside class="box">
                                <dl>
                                    <dt>تعداد اتاق‌ها</dt>
                                    <dd>{{ accommodation.rooms }}</dd>
                                    <dt>ظرفیت مهمان</dt>
                                    <dd>{{ accommodation.guests }}</dd>
                                    <dt>اتاق یک نفره</dt>
                                    <dd>{{ accommodation.single_beds }}</dd>
                                    <dt>اتاق دو نفره</dt>
                                    <dd>{{ accommodation.double_beds }}</dd>
                                    <dt>اتاق دو نفره (تخت جدا)</dt>
                                    <dd>{{ accommodation.twin_beds }}</dd>
                                </dl>
                            </aside>
                            <aside class="text-center">
                                <address>
                                    {{ accommodation.city }}<br>
                                    {{ accommodation.address }}<br>
                                    <br>
                                    {{ accommodation.phone }}<br>
                                    <a href="#">{{ accommodation.email }}</a><br>
                                </address>
                            </aside>
                        </div>
                    </div>
                </div>
                {% if accommodation.room_set.all %}
                    <section id="rooms">
                        <h2>اتاق‌ها</h2>
                        <div class="form-reservations">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="text-align: start">نوع اتاق</th>
                                        <th style="text-align: center">تعداد مهمان</th>
                                        <th style="text-align: center">تعداد اتاق</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            {% for room in accommodation.room_set.all %}
                                <table class="table">
                                    <tbody>
                                    <tr class="room">
                                        <td class="room-type" style="text-align: start">
                                            <a href="" data-toggle="modal" data-tab="true"
                                               data-target="#room-{{ room.id }}">
                                                <h3>{% get_room_type room.bed_type %}</h3></a>
                                            <p>{{ room.description }}</p>
                                        </td>
                                        <td class="persons" style="text-align: center">{{ room.number_of_guests }}<i
                                                class="fa fa-user"></i></td>
                                        <td class="persons" style="text-align: center">{{ room.how_many }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
                <section id="reviews">
                            <div class="title">
                                <h2 class="pull-right">نظرات</h2>
                                <a href="#write-a-review" class="btn btn-primary btn-rounded pull-right scroll">نظر خود را بنویسید</a>
                            </div>
                            <h3></h3>
                            <ul class="rating-score">
                                <li class="overall"><i class="fa fa-star"></i>9.9</li>
                                <li><span>9.6</span>
                                    <figure>Cleanliness</figure>
                                </li>
                                <li><span>10</span>
                                    <figure>Comfort</figure>
                                </li>
                                <li><span>9.4</span>
                                    <figure>Location</figure>
                                </li>
                                <li><span>9.8</span>
                                    <figure>Facilities</figure>
                                </li>
                                <li><span>10</span>
                                    <figure>Staff</figure>
                                </li>
                                <li><span>10</span>
                                    <figure>Value for money</figure>
                                </li>
                            </ul>
                            <div class="reviews">
                                <div class="review">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <aside class="name">John Doe</aside>
                                            <aside class="date">10.03.2015</aside>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="comment">
                                                <div class="comment-title">
                                                    <figure class="rating">9.5</figure>
                                                    <h4>Beautiful Holiday</h4>
                                                </div>
                                                <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod.
                                                    Suspendisse at dui sit amet felis commodo dictum. Class aptent taciti
                                                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                                    Integer commodo eleifend erat, vitae tincidunt urna volutpat et.
                                                    Mauris laoreet, sem ut sodales sodales, massa turpis posuere lectus, non
                                                    aliquet massa nisl ac orci.
                                                </p>
                                                <div class="clearfix options">
                                                    <span class="pull-left"><a href="" class="btn btn-framed btn-default btn-rounded btn-small icon"><i class="fa fa-thumbs-up font-color-default"></i>3</a>Helpful Review?</span>
                                                    <span class="pull-right"><a href="" class="link icon font-color-grey"><i class="fa fa-flag"></i>Report</a></span>
                                                </div>
                                                <div class="answer">
                                                    <h4>James Green, CEO of the Mountain Paradise Hotel</h4>
                                                    <p>Phasellus venenatis vel orci et lacinia. Duis sollicitudin arcu et hendrerit
                                                        tempor. Aliquam at urna fringilla, auctor tellus eget, vehicula lorem.
                                                        Pellentesque ornare faucibus sapien eget max
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <aside class="name">Peter Green</aside>
                                            <aside class="date">10.03.2015</aside>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="comment">
                                                <div class="comment-title">
                                                    <figure class="rating">9.8</figure>
                                                    <h4>Very Good Hotel</h4>
                                                </div>
                                                <p>In eleifend odio vel augue mattis, et pharetra dolor ullamcorper. Nulla
                                                    ut porttitor mauris. Sed tincidunt, urna non cursus suscipit, quam velit
                                                    laoreet libero, sit amet tincidunt ex nunc eget eros.
                                                </p>
                                                <div class="clearfix options">
                                                    <span class="pull-left"><a href="" class="btn btn-framed btn-default btn-rounded btn-small icon"><i class="fa fa-thumbs-up font-color-default"></i>10</a>Helpful Review?</span>
                                                    <span class="pull-right"><a href="" class="link icon font-color-grey"><i class="fa fa-flag"></i>Report</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="write-a-review">
                            <h2>Write a Review</h2>
                            <form  class="labels-uppercase clearfix" id="form_reply_1">
                                <div class="alert alert-dark fade in center" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-switch="#review-write">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span class="sr-only">Error:</span>
                                    <a href="#tab-sign-in" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal">Please Sign in to write a review</a>
                                </div>
                                <div class="review write switch" id="review-write">
                                    <aside class="name">John Doe</aside>
                                    <div class="comment">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="comment-title">
                                                    <h4>Review Your Stay</h4>
                                                </div>
                                                <div class="form-group">
                                                    <label for="form_reply_1-name">Title of your review<em>*</em></label>
                                                    <input type="text" class="form-control" id="form_reply_1-name" name="name" placeholder="Beautiful holiday!" required="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="form_reply_1-message">Your Answer<em>*</em></label>
                                                    <textarea class="form-control" id="form_reply_1-message" rows="8" name="answer" required="" placeholder="Describe your stay"></textarea>
                                                </div>
                                                <div class="form-group pull-right">
                                                    <button type="submit" class="btn btn-primary btn-rounded">Send Review</button>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="comment-title">
                                                    <h4>Rating</h4>
                                                </div>
                                                <dl class="visitor-rating">
                                                    <dt>Cleanliness</dt>
                                                    <dd class="star-rating active" data-name="cleanliness"></dd>
                                                    <dt>Comfort</dt>
                                                    <dd class="star-rating active" data-name="comfort"></dd>
                                                    <dt>Location</dt>
                                                    <dd class="star-rating active" data-name="location"></dd>
                                                    <dt>Facilities</dt>
                                                    <dd class="star-rating active" data-name="facilities"></dd>
                                                    <dt>Staff</dt>
                                                    <dd class="star-rating active" data-name="staff"></dd>
                                                    <dt>Value for money</dt>
                                                    <dd class="star-rating active" data-name="value"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>
            </div>
        </div>
        <div class="modal fade" id="add-room-modal" role="dialog"
             aria-labelledby="sign-in-register-modal">
            <div class="wrapper">
                <div class="inner">
                    <div class="modal-dialog width-600px" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <ul class="nav nav-tabs ">
                                    <li role="presentation" class="active"><a href="#tab-sign-in"
                                                                              aria-controls="tab-sign-in" role="tab"
                                                                              data-toggle="tab"><h1
                                            style="margin-left: 200px">اضافه کردن اتاق</h1></a></li>
                                </ul>
                            </div>
                            <div class="modal-body">
                                <form class="form-submit labels-uppercase" id="form-submit"
                                      enctype="multipart/form-data"
                                      method="post" action="{% url 'create_room' accid=accommodation.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="form-group-inline">
                                                <div class="form-group width-60">
                                                    <label class="pull-right">تعداد و نوع تخت</label>
                                                    <select class="framed width-100" name="bed_type" id="room-type_1"
                                                            dir="rtl">
                                                        <option value="Single">تخت یک نفره</option>
                                                        <option value="Double">تخت دو نفره</option>
                                                        <option value="Twin">دو تخت یک نفره</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="form-group-inline">
                                                <div class="form-group width-60">
                                                    <label for="description" class="pull-right">توضیحات</label>
                                                    <textarea class="form-control" required id="description"
                                                              name="description" rows="3" dir="rtl"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="col-md-6">
                                                <div class="form-group" style="padding-right: 20px">
                                                    <label for="number-of-rooms_1">تعداد اتاق</label>
                                                    <input type="number" class="form-control" id="number-of-rooms_1"
                                                           name="how_many"
                                                           placeholder="1" value="1">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" style="padding-right: 20px">
                                                    <label for="number-of-guests_1">تعداد مهمان</label>
                                                    <input type="number" class="form-control" id="number-of-guests_1"
                                                           name="number_of_guests"
                                                           placeholder="1" value="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <section id="facilities">
                                        <div class="row">
                                            <div class="pull-right" style="margin-right: 20px;">
                                                <h4 style="color: #488f3e;">امکانات</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" dir="rtl">
                                                <ul class="checkboxes half inline list-unstyled">
                                                    {% for amenity in form.amenity %}
                                                        <li><label> {{ amenity }} </label></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div id="profile-picture" class="profile-picture single-file-preview">
                                            <div class="input">
                                                <input name="image" type="file">
                                                <span style="z-index: auto">برای آپلود عکس اتاق کلیک کنید</span>
                                            </div>
                                        </div>
                                    </section>
                                    <hr>
                                    <section>
                                        <div class="form-group center">
                                            <button type="submit" class="btn btn-primary btn-rounded btn-large">ثبت اتاق
                                            </button>
                                        </div>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for room in accommodation.room_set.all %}
            <div class="modal fade" id="room-{{ room.id }}" role="dialog"
                 aria-labelledby="sign-in-register-modal">
                <div class="wrapper">
                    <div class="inner">
                        <div class="modal-dialog width-600px" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <ul class="nav nav-tabs ">
                                        <li role="presentation" class="active"><a href="#tab-sign-in"
                                                                                  aria-controls="tab-sign-in" role="tab"
                                                                                  data-toggle="tab"><h1
                                                style="margin-left: 200px">{% get_room_type room.bed_type %}</h1></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <section>
                                            <div id="profile-picture"
                                                 class="profile-picture single-file-preview text-center">
                                                <img src="{{ room.image.url }}" alt="" class="image"
                                                     style="width: 100%">
                                            </div>
                                        </section>
                                        <div class="row">
                                            <div class="col-md-12 pull-right" dir="rtl">
                                                <h2>توضیحات</h2>
                                                <section id="description">
                                                    {{ room.description }}
                                                </section>
                                                <section id="facilities">
                                                    <h2>امکانات</h2>
                                                    <ul class="bullets half">
                                                        {% for amenity in room.amenity.all %}
                                                            <li>  {{ amenity }}  </li>
                                                        {% endfor %}
                                                    </ul>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}