{% extends 'base.html' %}
{% load accommodation_extras %}
{% load jalali_tags %}
{% load staticfiles %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 pull-right" dir="rtl">
                <div class="sidebar">
                    <div class="box filter">
                        <h2>جست و جو</h2>
                        <form class="labels-uppercase" method="get"
                              action="{% url 'search' %}">
                            <div class="form-group">
                                <label for="form-filter-destination">نام مکان یا شهر</label>
                                <input type="text" class="form-control" id="form-filter-destination" name="expression"
                                       placeholder="نام مکان یا شهر">
                            </div>
                            <button type="submit" class="btn btn-primary btn-rounded form-control">جست و جو</button>
                        </form>
                        <form id="form-filter" class="labels-uppercase" method="get" action="{% url 'search' %}">
                            <div class="center">
                                <a href="#filter-advanced-search" class="link icon" data-toggle="collapse"
                                   aria-expanded="false" aria-controls="filter-advanced-search"><i
                                        class="fa fa-plus"></i>جست و جوی پیشرفته</a>
                            </div>
                            <div class="collapse" id="filter-advanced-search">
                                <div class="wrapper">
                                    <h2>فیلتر</h2>
                                    <section dir="rtl">
                                        <h3>نوع اقامتگاه </h3>
                                        <ul class="checkboxes">
                                            {% if is_hotel %}
                                                <li><label><input type="checkbox"
                                                                  name="hotel" checked>&nbsp;&nbsp;هتل</label></li>
                                            {% else %}
                                                <li><label><input type="checkbox"
                                                                  name="hotel">&nbsp;&nbsp;هتل</label></li>
                                            {% endif %}

                                            {% if is_motel %}
                                                <li><label><input type="checkbox"
                                                                  name="motel" checked>&nbsp;&nbsp;اقامتگاه محلی
                                                    (متل)</label>
                                                </li>
                                            {% else %}
                                                <li><label><input type="checkbox"
                                                                  name="motel">&nbsp;&nbsp;اقامتگاه محلی (متل)</label>
                                                </li>
                                            {% endif %}

                                            {% if is_house %}
                                                <li><label><input type="checkbox" name="house" checked>&nbsp;&nbsp;منزل
                                                    شخصی</label>
                                                </li>
                                            {% else %}
                                                <li><label><input type="checkbox" name="house">&nbsp;&nbsp;منزل
                                                    شخصی</label>
                                                </li>
                                            {% endif %}

                                        </ul>
                                    </section>
                                    <section>
                                        <h3>موقعیت </h3>
                                        <div class="ir-select">
                                            <label for="province">استان</label>
                                            <select class="ir-province framed width-100" id="province"
                                                    name="province">
                                                <option hidden value="{{ province }}" selected>{{ province }}</option>
                                            </select>
                                            <label for="city">شهر</label>
                                            <select class="ir-city framed width-100" id="city" name="city">
                                                <option hidden value="{{ city }}" selected>{{ city }}</option>
                                            </select>
                                        </div>
                                    </section>
                                </div>
                                {% if expression %}
                                    <input type="hidden" name="expression" value="{{ expression }}">
                                {% endif %}
                                <button type="submit" class="btn btn-primary btn-rounded form-control">اعمال فیلتر
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 pull-right" dir="rtl">
                <div class="quick-navigation" data-fixed-after-touch="">
                    <div class="wrapper">
                        <ul>
                            <li><a href="#description" class="scroll">توضیحات</a></li>
                            <li><a href="#map" class="scroll">نقشه</a></li>
                            <li><a href="#facilities" class="scroll">امکانات</a></li>
                            {% if accommodation.room_set.all %}
                                <li><a href="#rooms" class="scroll">اتاق‌ها</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        {% ifequal message.tags 'success' %}
                            <div class="alert alert-success" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;">
                                <p style="display: inline-block;">{{ message }}</p>
                            </div>
                        {% endifequal %}
                        {% ifequal message.tags 'error' %}
                            <div class="alert alert-danger" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;">
                                <p style="display: inline-block;">{{ message }}</p>
                            </div>
                        {% endifequal %}
                    {% endfor %}
                {% endif %}
                <div class="main-content">
                    <div class="title">
                        <div class="left">
                            <h1>{{ accommodation.title }}</h1>
                            <span>&nbsp;({{ accommodation.accommodation_type }})</span>
                        </div>
                        <div class="right">
                            <a href="#map" class="icon scroll"><i class="fa fa-map-marker"></i>روی نقشه ببینید</a>
                            {% if request.user.is_authenticated %}
                                {% ifequal request.user.username accommodation.owner.user.username %}
                                    <a href="" data-toggle="modal" data-tab="true"
                                       data-target="#add-room-modal" class="btn btn-primary btn-rounded scroll">اضافه
                                        کردن
                                        اتاق</a>
                                    <a href="{% url 'edit_accommodation' pk=accommodation.pk %}"
                                       class="btn btn-primary btn-rounded scroll">تغییر مشخصات اقامتگاه</a>
                                {% endifequal %}
                            {% endif %}
                        </div>
                    </div>

                    <section>
                        <div id="demo" class="carousel slide" data-ride="carousel">

                            <ul class="carousel-indicators" style="margin-bottom: -20px">
                                {% for image in accommodation.image_set.all %}
                                    {% ifequal forloop.counter0 0 %}
                                        <li data-target="#demo" data-slide-to="0" class="active"
                                            style="border-color: black"></li>
                                    {% else %}
                                        <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}"
                                            style="border-color: black"></li>
                                    {% endifequal %}
                                {% endfor %}
                            </ul>

                            <div class="carousel-inner">
                                {% for image in accommodation.image_set.all %}
                                    {% ifequal forloop.counter0 0 %}
                                        <div class="item active image">
                                            <img src="{{ image.image.url }}" alt=""
                                                 style="width: 1100px; height: 600px">
                                        </div>
                                    {% else %}
                                        <div class="item image">
                                            <img src="{{ image.image.url }}" alt=""
                                                 style="width: 1100px; height: 600px;">
                                        </div>
                                    {% endifequal %}

                                {% endfor %}
                            </div>

                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </section>


                    <h2>توضیحات</h2>
                    <div class="row">
                        <div class="col-md-8 pull-right">
                            <section id="description">
                                {{ accommodation.description }}
                            </section>
                            <section id="facilities">
                                <h2>امکانات</h2>
                                <ul class="bullets half">
                                    {% for amenity in accommodation.amenity.all %}
                                        <li>  {{ amenity }}  </li>
                                    {% endfor %}
                                </ul>
                            </section>
                            <section>
                                <h2>نقشه</h2>
                                <div id="map"></div>
                            </section>
                            <script>
                                mapboxgl.accessToken = 'pk.eyJ1IjoibWFob29seSIsImEiOiJjankxbnY2OXAwZXJvM25wY2pxb2cxaml2In0.pPibyeH8fp9snLodRu9QQg';

                                var map = new mapboxgl.Map({
                                    container: 'map',
                                    style: 'mapbox://styles/mapbox/streets-v11',
                                    center: [{{ accommodation.longitude }}, {{ accommodation.latitude }}],
                                    zoom: 15,
                                    hash: true
                                });
                                mapboxgl.setRTLTextPlugin('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.1.0/mapbox-gl-rtl-text.js');
                                map.addControl(new MapboxLanguage({
                                    defaultLanguage: 'ar'
                                }));

                                var marker = new mapboxgl.Marker({
                                    draggable: true,
                                    color: '#488f3e'
                                }).setLngLat({
                                    lng: {{ accommodation.longitude }},
                                    lat: {{ accommodation.latitude }}
                                }).addTo(map);

                            </script>
                        </div>
                        <div class="col-md-4 pull-right">
                            <div class="sidebar">
                                <aside class="box">
                                    <dl>
                                        <dt>تعداد اتاق‌ها</dt>
                                        <dd>{{ accommodation.rooms }}</dd>
                                        <dt>ظرفیت مهمان</dt>
                                        <dd>{{ accommodation.guests }}</dd>
                                        <dt>اتاق یک نفره</dt>
                                        <dd>{{ accommodation.single_beds }}</dd>
                                        <dt>اتاق دو نفره</dt>
                                        <dd>{{ accommodation.double_beds }}</dd>
                                        <dt>اتاق دو نفره (تخت جدا)</dt>
                                        <dd>{{ accommodation.twin_beds }}</dd>
                                    </dl>
                                </aside>
                                <aside class="text-center">
                                    <address>
                                        {{ accommodation.city }}<br>
                                        {{ accommodation.address }}<br>
                                        <br>
                                        {{ accommodation.phone }}<br>
                                        <a href="#">{{ accommodation.email }}</a><br>
                                    </address>
                                </aside>
                            </div>
                        </div>
                    </div>
                    {% if rooms %}
                        <section id="rooms">
                            <h2>اتاق‌ها</h2>
                            <form class="labels-uppercase" id="form-availability" onsubmit="checkOutError(event);">
                                <div class="row">
                                    <div class="col-md-3 pull-right">
                                        <div class="form-group">
                                            <label for="form-check-in">تاریخ ورود</label>
                                            <input type="text" class="form-control" id="form-check-in"
                                                   name="check_in" placeholder="تاریخ ورود" value="{{ check_in }}">
                                            <script>
                                                $('#form-check-in').persianDatepicker({
                                                    initialValue: false,
                                                    format: 'YYYY/MM/DD',
                                                    timePicker: {
                                                        enabled: false
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pull-right">
                                        <div class="form-group">
                                            <label for="form-check-out">تاریخ خروج</label>
                                            <input type="text" class="form-control date"
                                                   id="form-check-out"
                                                   name="check_out" placeholder="تاریخ خروج" value="{{ check_out }}">
                                            <script>
                                                $('#form-check-out').persianDatepicker({
                                                    initialValue: false,
                                                    format: 'YYYY/MM/DD',
                                                    timePicker: {
                                                        enabled: false
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pull-right">
                                        <div class="form-group">
                                            <label for="form-availability-price">محدوده قیمت</label>
                                            <input type="text" class="js-range-slider" name="price" value=""
                                                   id="form-availability-price"/>
                                            <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
                                            <script>$(".js-range-slider").ionRangeSlider({
                                                type: "double",
                                                min: 0,
                                                max: 900,
                                                from: 200,
                                                to: 500,
                                                step: 100,
                                                skin: "flat",
                                                postfix: " هزار تومان",
                                                max_postfix: "+",
                                                input_values_separator: "-"
                                            });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="invisible">Hidden label</label>
                                            <button type="submit"
                                                    class="btn btn-primary btn-rounded btn-framed form-control">جست و جو
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="alert alert-danger none" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;" id="reserve-error">
                                <p style="display: inline-block;">لطفا ابتدا تاریخ ورود و خروج خود را جست و جو کنید</p>
                            </div>
                            <div class="form-reservations">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th style="text-align: start">نوع اتاق</th>
                                            <th style="text-align: center">تعداد مهمان</th>
                                            <th style="text-align: center">قیمت</th>
                                            <th style="text-align: center">تعداد اتاق</th>
                                            <th style="text-align: center"></th>
                                        </tr>
                                        <input type="hidden" value="{{ check_in }}" name="check_in"
                                               id="hidden-check-in">
                                        <input type="hidden" value="{{ check_out }}" name="check_out"
                                               id="hidden-check-out">
                                        <input type="hidden" value="{{ stay_length }}" id="stay_length">
                                        </thead>
                                    </table>
                                </div>
                                {% for room in rooms %}
                                    <form method="post" onsubmit="reserveError(event, {{ room.id }})">
                                        {% csrf_token %}
                                        <table class="table">
                                            <tbody>
                                            <tr class="room">
                                                <td class="room-type" style="text-align: start">
                                                    <a href="" data-toggle="modal" data-tab="true"
                                                       data-target="#room-{{ room.id }}">
                                                        <h3>{% get_room_type room.bed_type %}</h3></a>
                                                    <p>{{ room.description }}</p>
                                                </td>
                                                <td class="persons"
                                                    style="text-align: center">{{ room.number_of_guests }}<i
                                                        class="fa fa-user"></i></td>
                                                <td class="price" style="text-align: center"
                                                    id="price-{{ room.id }}">{{ room.price }}</td>
                                                <td class="rooms" style="text-align: center">
                                                    <select class="framed" name="how_many" id="how-many-{{ room.id }}">
                                                        {% for r, count in room_count.items %}
                                                            {% if r.id == room.id %}
                                                                {% for i in count %}
                                                                    <option value="{{ i }}">{{ i }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td style="text-align: center">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary btn-rounded">
                                                            رزرو
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                    <div class="modal fade" id="reserve-{{ room.id }}" role="dialog"
                                         aria-labelledby="sign-in-register-modal">
                                        <div class="wrapper">
                                            <div class="inner">
                                                <div class="modal-dialog width-600px" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span></button>
                                                            <ul class="nav nav-tabs ">
                                                                <li role="presentation" class="active"><a
                                                                        href="#tab-sign-in"
                                                                        aria-controls="tab-sign-in"
                                                                        role="tab"
                                                                        data-toggle="tab"><h1
                                                                        style="margin-left: 200px">رزرو اتاق</h1>
                                                                </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="row">
                                                                    <div class="col-md-12 pull-right" dir="rtl">
                                                                        <form method="post"
                                                                              action="{% url 'make_reservation' room.id %}">
                                                                            {% csrf_token %}
                                                                            <table border="1">
                                                                                <thead>
                                                                                <th style="text-align: start; padding-right: 20px; padding-top: 10px">
                                                                                    نوع اتاق
                                                                                </th>
                                                                                <th style="text-align: start; padding-right: 20px; padding-top: 10px">
                                                                                    تاریخ ورود
                                                                                </th>
                                                                                <th style="text-align: start; padding-right: 20px; padding-top: 10px">
                                                                                    تاریخ ورود
                                                                                </th>
                                                                                <th style="text-align: start; padding-right: 10px; padding-top: 10px">
                                                                                    تعداد
                                                                                </th>
                                                                                <th style="text-align: start; padding-right: 20px; padding-top: 10px">
                                                                                    قیمت
                                                                                </th>
                                                                                <th style="text-align: start; padding-right: 20px; padding-top: 10px">
                                                                                    قیمت کل (تومان)
                                                                                </th>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td>{% get_room_type room.bed_type %}</td>
                                                                                    <td>{{ check_in }}</td>
                                                                                    <td>{{ check_out }}</td>
                                                                                    <td id="table-how-many-{{ room.id }}"></td>
                                                                                    <td>{{ room.price }}</td>
                                                                                    <td id="table-price-{{ room.id }}"></td>
                                                                                    <input type="hidden"
                                                                                           value="{{ check_in }}"
                                                                                           name="check_in">
                                                                                    <input type="hidden"
                                                                                           value="{{ check_out }}"
                                                                                           name="check_out">
                                                                                    <input type="hidden"
                                                                                           id="form-how-{{ room.id }}"
                                                                                           name="how_many">
                                                                                </tr>
                                                                                <tr>
                                                                                    <td colspan="5">مبلغ قابل پرداخت
                                                                                        (تومان)
                                                                                    </td>
                                                                                    <td id="price-all-{{ room.id }}"
                                                                                        style="text-align: center;"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <div class="form-group"
                                                                                 style="padding-top: 20px; padding-right: 500px">
                                                                                <button type="submit"
                                                                                        class="btn btn-primary btn-rounded">
                                                                                    پرداخت
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                    <section id="reviews">
                        <div>
                            <h2 style="display: inline-block">نظرات</h2>
                            <a href="#write-a-review" class="btn btn-primary btn-rounded pull-left scroll"
                               style="display: inline-block;">نظر خود را
                                بنویسید</a>
                        </div>
                        <h3>امتیاز کلی</h3>
                        <ul class="rating-score">
                            <li class="overall"><i class="fa fa-star"></i>&nbsp;{{ accommodation.overall_score }}</li>
                            <li><span>{{ accommodation.overall_cleanliness }}</span>
                                <figure>نظافت</figure>
                            </li>
                            <li><span>{{ accommodation.overall_comfort }}</span>
                                <figure>راحتی</figure>
                            </li>
                            <li><span>{{ accommodation.overall_location }}</span>
                                <figure>موقعیت</figure>
                            </li>
                            <li><span>{{ accommodation.overall_facilities }}</span>
                                <figure>امکانات</figure>
                            </li>
                            <li><span>{{ accommodation.overall_staff }}</span>
                                <figure>پرسنل</figure>
                            </li>
                            <li><span>{{ accommodation.overall_value }}</span>
                                <figure>ارزش نسبت به قیمت</figure>
                            </li>
                        </ul>
                        <div class="reviews">
                            {% for review in accommodation.review_set.all %}
                                <div class="review">
                                    <div class="row">
                                        <div class="col-md-3 pull-right">
                                            <div style="margin-right: 85px">
                                                <aside class="name">{{ review.user.full_name }}</aside>
                                                <aside class="date">{{ review.creation_date|to_jalali:'%y/%m/%d' }}</aside>
                                            </div>

                                        </div>
                                        <div class="col-md-9">
                                            <div class="comment">
                                                <div class="comment-title">
                                                    {% if review.rating %}
                                                        <figure class="rating">{{ review.rating.overall }}</figure>
                                                    {% endif %}
                                                    <h4>{{ review.title }}</h4>
                                                </div>
                                                <p>{{ review.text }}</p>
                                                {% if review.reply %}
                                                    <div class="answer">
                                                        <h4>{{ review.reply.name_position }}</h4>
                                                        <p>{{ review.reply.text }}</p>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                    <section id="write-a-review">
                        <h2>نظر خود را بنویسید</h2>
                        <form method="post" class="labels-uppercase clearfix" id="form_reply_1"
                              action="{% url 'create_review' accommodation.id %}">
                            {% csrf_token %}
                            {% if not user.is_authenticated %}
                                <div class="alert alert-dark fade in center" role="alert">
                                    <a href="{% url 'login' %}">برای نوشتن نظر ابتدا باید وارد سایت شوید.</a>
                                </div>
                            {% endif %}
                            <div class="review write switch" id="review-write">
                                <div class="comment">
                                    <div class="row">
                                        <div class="col-md-8 pull-right">
                                            <div class="comment-title">
                                                <h4>درباره‌ی اقامت خود نظر دهید</h4>
                                            </div>
                                            <div class="form-group">
                                                <label for="form_reply_1-name">عنوان نظر<em>*</em></label>
                                                <input type="text" class="form-control" id="form_reply_1-name"
                                                       name="title"
                                                       placeholder="تعطیلات به یاد ماندنی!" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="form_reply_1-message">متن نظر<em>*</em></label>
                                                <textarea class="form-control" id="form_reply_1-message" rows="8"
                                                          name="text" required
                                                          placeholder="اقامت خود را توصیف کنید"></textarea>
                                            </div>
                                            <div class="form-group pull-left">
                                                <button type="submit" class="btn btn-primary btn-rounded">ثبت نظر
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="comment-title">
                                                <h4>ثبت امتیاز</h4>
                                            </div>
                                            <dl class="visitor-rating">
                                                <dt>نظافت</dt>
                                                <dd class="star-rating active" data-name="cleanliness"></dd>
                                                <dt>راحتی</dt>
                                                <dd class="star-rating active" data-name="comfort"></dd>
                                                <dt>موقعیت</dt>
                                                <dd class="star-rating active" data-name="location"></dd>
                                                <dt>امکانات</dt>
                                                <dd class="star-rating active" data-name="facilities"></dd>
                                                <dt>پرسنل</dt>
                                                <dd class="star-rating active" data-name="staff"></dd>
                                                <dt>ارزش نسبت به قیمت</dt>
                                                <dd class="star-rating active" data-name="value"></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add-room-modal" role="dialog"
             aria-labelledby="sign-in-register-modal">
            <div class="wrapper">
                <div class="inner">
                    <div class="modal-dialog width-600px" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <ul class="nav nav-tabs ">
                                    <li role="presentation" class="active"><a href="#tab-sign-in"
                                                                              aria-controls="tab-sign-in" role="tab"
                                                                              data-toggle="tab"><h1
                                            style="margin-left: 200px">اضافه کردن اتاق</h1></a></li>
                                </ul>
                            </div>
                            <div class="modal-body">
                                <form class="form-submit labels-uppercase" id="form-submit"
                                      enctype="multipart/form-data"
                                      method="post" action="{% url 'create_room' accid=accommodation.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="form-group-inline">
                                                <div class="form-group width-60">
                                                    <label class="pull-right">تعداد و نوع تخت</label>
                                                    <select class="framed width-100" name="bed_type"
                                                            id="room-type_1"
                                                            dir="rtl">
                                                        <option value="Single">تخت یک نفره</option>
                                                        <option value="Double">تخت دو نفره</option>
                                                        <option value="Twin">دو تخت یک نفره</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="form-group-inline">
                                                <div class="form-group width-60">
                                                    <label for="description" class="pull-right">توضیحات</label>
                                                    <textarea class="form-control" required id="description"
                                                              name="description" rows="3" dir="rtl"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="col-md-4">
                                                <div class="form-group" style="padding-right: 20px">
                                                    <label for="number-of-rooms_1">تعداد اتاق</label>
                                                    <input type="number" class="form-control" id="number-of-rooms_1"
                                                           name="how_many"
                                                           placeholder="1" value="1">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" style="padding-right: 20px">
                                                    <label for="number-of-guests_1">تعداد مهمان</label>
                                                    <input type="number" class="form-control"
                                                           id="number-of-guests_1"
                                                           name="number_of_guests"
                                                           placeholder="1" value="1">
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <div class="form-group-inline">
                                                    <div class="form-group">
                                                        <label for="price" dir="rtl">نرخ هر شب اقامت (به تومان)</label>
                                                        <input type="number" class="form-control" id="price"
                                                               name="price"
                                                               placeholder="10000">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <section id="facilities">
                                        <div class="row">
                                            <div class="pull-right" style="margin-right: 20px;">
                                                <h4 style="color: #488f3e;">امکانات</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" dir="rtl">
                                                <ul class="checkboxes half inline list-unstyled">
                                                    {% for amenity in form.amenity %}
                                                        <li><label> {{ amenity }} </label></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div id="profile-picture" class="profile-picture single-file-preview">
                                            <div class="input">
                                                <input name="image" type="file">
                                                <span style="z-index: auto">برای آپلود عکس اتاق کلیک کنید</span>
                                            </div>
                                        </div>
                                    </section>
                                    <hr>
                                    <section>
                                        <div class="form-group center">
                                            <button type="submit" class="btn btn-primary btn-rounded btn-large">ثبت
                                                اتاق
                                            </button>
                                        </div>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for room in accommodation.room_set.all %}
            <div class="modal fade" id="room-{{ room.id }}" role="dialog"
                 aria-labelledby="sign-in-register-modal">
                <div class="wrapper">
                    <div class="inner">
                        <div class="modal-dialog width-600px" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <ul class="nav nav-tabs ">
                                        <li role="presentation" class="active"><a href="#tab-sign-in"
                                                                                  aria-controls="tab-sign-in"
                                                                                  role="tab"
                                                                                  data-toggle="tab"><h1
                                                style="margin-left: 200px">{% get_room_type room.bed_type %}</h1>
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <section>
                                            <div id="profile-picture"
                                                 class="profile-picture single-file-preview text-center">
                                                <img src="{{ room.image.url }}" alt="" class="image"
                                                     style="width: 100%">
                                            </div>
                                        </section>
                                        <div class="row">
                                            <div class="col-md-12 pull-right" dir="rtl">
                                                <h2>توضیحات</h2>
                                                <section id="description">
                                                    {{ room.description }}
                                                </section>
                                                <section id="facilities">
                                                    <h2>امکانات</h2>
                                                    <ul class="bullets half">
                                                        {% for amenity in room.amenity.all %}
                                                            <li>  {{ amenity }}  </li>
                                                        {% endfor %}
                                                    </ul>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'assets/js/jquery-2.2.1.min.js' %}"></script>
    <script>
        $(document).ready(function ($) {
            {% if user.is_authenticated %}
                $("#review-write").removeClass('switch');
            {% endif %}
        });
    </script>
    </div>
{% endblock %}