{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="container">
        <div class="main-content float-right" dir="rtl">
            <form class="form-submit labels-uppercase" id="form-submit" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;">
                                <b style="display: inline-block;">خطا! </b>
                                <p style="display: inline-block;">{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" dir="rtl" role="alert"
                             style="padding: 5px; text-align: center;">
                            <b style="display: inline-block;">خطا! </b>
                            <p style="display: inline-block;">{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        {% ifequal message.tags 'success' %}
                            <div class="alert alert-success" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;">
                                <p style="display: inline-block;">{{ message }}</p>
                            </div>
                        {% endifequal %}
                        {% ifequal message.tags 'error' %}
                            <div class="alert alert-danger" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;">
                                <p style="display: inline-block;">{{ message }}</p>
                            </div>
                        {% endifequal %}
                    {% endfor %}
                {% endif %}
                <section id="main-information">
                    <div class="title">
                        <h2>اطلاعات اصلی</h2>
                        <aside class="step">1</aside>
                    </div>
                    <div class="row">
                        <div class="col-md-7 pull-right">
                            <div class="form-group">
                                <label for="form-submit-title">نام<em>*</em></label>
                                <input type="text" class="form-control" id="form-submit-title" name="title"
                                       placeholder="نام اقامتگاه" required
                                       oninvalid="this.setCustomValidity('این فیلد لازم است.')">
                            </div>
                        </div>
                        <div class="col-md-5 pull-right">
                            <div class="form-group">
                                <label for="object-type">نوع اقامتگاه</label>
                                <select class="framed width-100 align-left" name="accommodation_type" id="object-type"
                                        style="-webkit-appearance: none;" required>
                                    <option value="هتل">هتل</option>
                                    <option value="اقامتگاه">اقامتگاه بومی (متل)</option>
                                    <option value="منزل شخصی">منزل شخصی</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 pull-right">
                            <div class="form-group">
                                <label for="form-submit-description">توضیحات<em>*</em></label>
                                <textarea class="form-control" id="form-submit-description" rows="10" name="description"
                                          required oninvalid="this.setCustomValidity('این فیلد لازم است.')"
                                          placeholder="اقامتگاه خود را توصیف کنید"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="location">
                    <div class="row">
                        <div class="col-md-7 pull-right">
                            <div class="title">
                                <h2>موقعیت</h2>
                                <aside class="step">2</aside>
                            </div>
                            <div class="form-group">
                                <div class="ir-select">
                                    <label for="province">استان<em>*</em></label>
                                    <select class="ir-province framed width-100" id="province" name="province" required
                                            oninvalid="this.setCustomValidity('این فیلد لازم است.')"></select>
                                    <label for="city">شهر<em>*</em></label>
                                    <select class="ir-city framed width-100" id="city" name="city" required
                                            oninvalid="this.setCustomValidity('این فیلد لازم است.')"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address-autocomplete">آدرس<em>*</em></label>
                                <input type="text" class="form-control" id="address-autocomplete" name="address"
                                       placeholder="آدرس اقامتگاه" required
                                       oninvalid="this.setCustomValidity('این فیلد لازم است.')">
                            </div>
                            <div class="form-group text-center">
                                <label>محل روی نقشه</label>
                                <div class="map height-300 box" id="main-map"></div>
                            </div>
                            <div class="form-group hidden">
                                <input type="text" class="form-control" id="latitude" name="latitude" hidden="">
                                <input type="text" class="form-control" id="longitude" name="longitude" hidden="">
                            </div>
                        </div>
                        <div class="col-md-5 pull-right">
                            <h2>راه‌های ارتباطی</h2>
                            <div class="form-group">
                                <label for="form-submit-email">ایمیل</label>
                                <input type="email" class="form-control" id="form-submit-email" name="email"
                                       placeholder="hello@example.com"
                                       oninvalid="this.setCustomValidity('ایمیل معتبر نیست.')">
                            </div>
                            <div class="form-group">
                                <label for="form-submit-mobile-phone">تلفن</label>
                                <input type="text" class="form-control" id="form-submit-mobile-phone" name="phone"
                                       placeholder="12 123 456 789"
                                       oninvalid="this.setCustomValidity('این فیلد لازم است.')">
                            </div>
                        </div>
                    </div>
                </section>
                <section id="gallery">
                    <div class="title">
                        <h2>گالری</h2>
                        <aside class="step">3</aside>
                    </div>
                    <div class="file-upload-previews"></div>
                    <div class="file-upload">
                        <input type="file" name="image" class="file-upload-input with-preview"
                               title="برای اضافه کردن عکس کلیک کنید" accept="gif|jpg|png" multiple>
                        <span>برای اضافه کردن عکس کلیک کنید</span>
                    </div>
                </section>
                <section id="facilities">
                    <div class="title">
                        <h2>امکانات</h2>
                        <aside class="step">4</aside>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pull-right" dir="rtl" style="margin-bottom: 30px">
                            <ul class="checkboxes half inline list-unstyled">
                                {% for name in form.amenity %}
                                    <li><label> {{ name }} </label></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="text-center">
                            <a href="" data-toggle="modal" data-tab="true" data-target="#add-amenity-modal">امکانات مورد
                                نظر
                                خود
                                را پیدا نمی‌کنید؟</a>
                        </div>
                    </div>
                </section>
                <hr>
                <section>
                    <div class="form-group center">
                        <button type="submit" class="btn btn-primary btn-rounded btn-xlarge">ثبت اقامتگاه</button>
                    </div>
                </section>
            </form>
        </div>
        <div class="modal fade" id="add-amenity-modal" role="dialog"
             aria-labelledby="sign-in-register-modal">
            <div class="wrapper">
                <div class="inner">
                    <div class="modal-dialog width-600px" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <ul class="nav nav-tabs ">
                                    <li role="presentation" class="active"><a href="#tab-sign-in"
                                                                              aria-controls="tab-sign-in" role="tab"
                                                                              data-toggle="tab"><h1
                                            style="margin-left: 200px">اضافه کردن امکانات</h1></a></li>
                                </ul>
                            </div>
                            <div class="modal-body">
                                <form class="form-submit labels-uppercase" id="form-submit"
                                      enctype="multipart/form-data"
                                      method="post" action="{% url 'create_amenity' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="form-group-inline">
                                                <div class="form-group width-60" dir="rtl">
                                                    <label for="name" class="pull-right">نام</label>
                                                    <input type="text" class="form-control" id="name" name="name"
                                                           required placeholder="نام امکانات">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="form-group-inline">
                                                <div class="form-group width-60">
                                                    <label class="pull-right">نوع امکانات</label>
                                                    <select class="framed width-100" name="label" id="room-type_1"
                                                            dir="rtl" required>
                                                        <option value="hotel">امکانات مربوط به هتل</option>
                                                        <option value="room">امکانات مربوط به اتاق</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <section>
                                        <div class="form-group center">
                                            <button type="submit" class="btn btn-primary btn-rounded btn-large">ثبت
                                                امکانات
                                            </button>
                                        </div>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

