{% extends 'base.html' %}
{% block main %}

    <div class="container">
        <div class="row">
            {% if blog_user %}
                <div class="pull-right" style="margin-right: 20px;">
                    <h1><a href="{% url 'profile' blog_user.id %}" style="color: #488f3e;">{{ blog_user.username }}</a>&nbsp;تجربیات
                        سفر</h1>
                </div>
            {% else %}
                <div class="pull-right" style="margin-right: 20px; margin-bottom: 40px">
                    <h1>&nbsp;تجربیات سفر</h1>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="main-content">
                    {% for post in object_list %}
                        <article class="blog-post">
                            <a href="{% url 'blog_detail' post.id %}"><img src="{{ post.image.url }}"
                                                                           style="width: 100%"></a>
                            <header dir="rtl"><a href="{% url 'blog_detail' post.id %}"><h2>{{ post.title }}</h2></a>
                            </header>
                            <figure class="meta">
                                <a href="#" class="link icon" dir="rtl"><i class="fa fa-calendar"></i>{{ post.date }}
                                </a>
                                <a href="{% url 'profile' post.owner.id %}"
                                   class="link icon"><i class="fa fa-user"></i>{{ post.owner.username }}</a>
                            </figure>
                            {% if post.description|wordcount < 200 %}
                                <div class="content-markdown">{{ post.description }}</div>
                            {% else %}
                                <div class="content-markdown"
                                     style="height: 150px; overflow: hidden; margin-bottom: 20px">{{ post.description }}</div>
                            {% endif %}
                            <a href="{% url 'blog_detail' post.id %}"
                               class="btn btn-rounded btn-default btn-framed btn-small">ادامه
                                مطلب</a>
                        </article>
                    {% endfor %}
                    <div class="center">
                        {% if object_list %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="prev">
                                        <a href="?page={{ page_obj.previous_page_number }}"><i
                                                class="arrow_left"></i></a>
                                    </li>
                                    <li>
                                        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                    </li>
                                {% endif %}
                                <li class="active">
                                    <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>

                                </li>

                                {% if page_obj.has_next %}
                                    <li>
                                        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                    </li>
                                    <li class="next">
                                        <a href="{{ page_url }}?page={{ page_obj.next_page_number }}"><i
                                                class="arrow_right"></i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% else %}
                            <h4 dir="rtl" style="margin-top: 100px">کاربر هنوز تجربه‌ای به اشتراک نگذاشته است.</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}