{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% if messages %}
                    {% for message in messages %}
                        {% ifequal message.tags 'success' %}
                            <div class="alert alert-success" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;">
                                <p style="display: inline-block;">{{ message }}</p>
                            </div>
                        {% endifequal %}
                        {% ifequal message.tags 'error' %}
                            <div class="alert alert-danger" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;">
                                <p style="display: inline-block;">{{ message }}</p>
                            </div>
                        {% endifequal %}
                    {% endfor %}
                {% endif %}
                <div class="main-content">
                    <article class="blog-post">
                        <header dir="rtl"><a href="{% url 'blog_detail' post.id %}"><h2>{{ post.title }}</h2></a>
                        </header>
                        <figure class="meta">
                            <a href="#" class="link icon" dir="rtl"><i class="fa fa-calendar"></i>{{ post.date }}
                            </a>
                            <a href="{% url 'profile' post.owner.id %}"
                               class="link icon"><i class="fa fa-user"></i>{{ post.owner.username }}</a>
                        </figure>
                        <div class="content-markdown">{{ post.description }}</div>
                    </article>
                    {% if  post.comment_set.all %}
                        <section id="comments" dir="rtl">
                            <header><h2 class="no-border">نظرات</h2></header>
                            <ul class="comments">
                                {% for comment in post.comment_set.all %}
                                    <li class="comment">
                                        <div class="comment-wrapper">
                                            <div class="name"><a
                                                    href="{% url 'profile' comment.user.id %}">{{ comment.user.full_name }}</a>
                                            </div>
                                            <span class="date"><span
                                                    class="fa fa-calendar"></span>{{ comment.date }}</span>
                                            <p style="margin-top: 15px">{{ comment.comment | linebreaks }}</p>
                                        </div>
                                        <figure>
                                            <div class="image">
                                                <img alt="" src="{{ comment.user.image }}">
                                            </div>
                                        </figure>
                                        <hr>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endif %}
                    <section id="leave-reply" dir="rtl">
                        <header><h2 class="no-border">ارسال نظر</h2></header>
                        {% if user.is_authenticated %}
                            <form role="form" id="form-blog-reply" method="post" class="clearfix"
                                  action="{% url 'post_comment' post.id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form-blog-reply-message">نظر شما</label>
                                            <textarea class="form-control" id="form-blog-reply-message" rows="5"
                                                      name="comment" required
                                                      oninvalid="this.setCustomValidity('این فیلد لازم است.')"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <button type="submit" class="btn pull-right btn-primary btn-rounded"
                                            id="form-blog-reply-submit">ثبت نظر
                                    </button>
                                </div>
                                <div id="form-rating-status"></div>
                            </form>
                        {% else %}
                            <form role="form" id="form-blog-reply" method="post" class="clearfix"
                                  style="opacity: 0.2; z-index: -1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>نظر شما</label>
                                            <textarea class="form-control" id="form-blog-reply-message" rows="5"
                                                      name="comment" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <button type="submit" class="btn pull-right btn-primary btn-rounded"
                                            id="form-blog-reply-submit">ثبت نظر
                                    </button>
                                </div>
                                <div id="form-rating-status"></div>
                            </form>
                            <h3 class="text-center" style="position: absolute; bottom: 150px; right: 360px">برای ارسال
                                نظر ابتدا باید در سایت وارد شوید.</h3>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}