{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_extras %}
{% block main %}



<div class="page-wrapper">
    <div id="page-header">
        <header>

            <hr>

        </header>
    </div>

    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
            </ol>

            <form method="post" class="form-submit labels-uppercase MultiFile-intercepted" id="form-submit" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row ">
                        <div class="col-md-10 center">
                            <input type="text" dir="rtl" class="form-control" id="form-submit-title" name="searched_phrase" placeholder="کلید واژه از بلاگ ها" required="">
                        </div>
                        <div class="col-md-2 center">
                            <button type="submit" class="btn btn-framed btn-default btn-rounded">جست و جو کن</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-3">
                    <div class="column">
                    <div class="sidebar center" dir="rtl">
                        <ul class="links">
                            <li><a href="#">همه</a></li>
                            <li><a href="#">فروردین</a></li>
                            <li><a href="#">اردیبهشت</a></li>
                            <li><a href="#">خرداد</a></li>
                            <li><a href="#">تیر</a></li>
                            <li><a href="#">مرداد</a></li>
                            <li><a href="#">شهریور</a></li>
                            <li><a href="#">مهر</a></li>
                            <li><a href="#">آبان</a></li>
                            <li><a href="#">آذر</a></li>
                            <li><a href="#">دی</a></li>
                            <li><a href="#">بهمن</a></li>
                            <li><a href="#">اسفند</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-md-9" , style="right-margin">
                    <div class="pull-right" , style="right-margin">
                        <div class="title" , dir="rtl">
                            {% if is_empty %}
                            <h1>هیچ پستی یافت نشد </h1>
                            {% else %}
                            <h1> پست های یافت شده </h1>
                            {% endif %}
                        </div>
                        {% for feed in page_feeds %}
                        {% with image_url=feed.image.url %}
                        <article class="blog-post" , dir="rtl">
                            <a href="blog-detail.html"><img  src="{{image_url}}"  ></a>
                            {% endwith %}
                            {% my_tostring feed.id as feed_id %}
                            {% get_username feed as username %}
                            <header><a href="{% url 'blog_detail' username=feed.owner.username feed_id=feed_id %}"><h2> {{ feed.title }} </h2></a></header>
                            <figure class="meta">
                                {% get_full_name feed as full_name%}
                                <a href={{"/username="|add:feed.owner.username|add:"/blog_list/1"}} class="link icon"><i class="fa fa-user"></i>{{full_name}}</a>
                                <a href="#" class="link icon"><i class="fa fa-calendar"></i>{{feed.date}}</a>
                                <div class="tags">
                                    <a href="#" class="tag article">Architecture</a>
                                    <a href="#" class="tag article">Design</a>
                                    <a href="#" class="tag article">Trend</a>
                                </div>
                            </figure>
                            <p> {{feed.description}}
                            </p>
                            <a href="{% url 'blog_detail' username=feed.owner.username feed_id=feed_id %}" class="btn btn-rounded btn-default btn-framed btn-small">بیشتر بخوانم</a>
                        </article><!-- /.blog-post -->
                        {% endfor %}

                        <div class="center">
                            <ul class="pagination">
                                <li class="prev">
                                    <a href="{% url 'blog_search' searched_phrase=searched_phrase page_number=page_number_minos %}"><i class="arrow_left"></i></a>
                                </li>
                                <li {% ifequal page_number 1 %}class="active" {% endifequal %}><a href="{% url 'blog_search' searched_phrase=searched_phrase page_number=1 %}">1</a></li>
                                <li {% ifequal page_number 2 %}class="active" {% endifequal %}><a href="{% url 'blog_search' searched_phrase=searched_phrase page_number=2 %}">2</a></li>
                                <li {% ifequal page_number 3 %}class="active" {% endifequal %}><a href="{% url 'blog_search' searched_phrase=searched_phrase page_number=3 %}">3</a></li>
                                <li {% ifequal page_number 4 %}class="active" {% endifequal %}><a href="{% url 'blog_search' searched_phrase=searched_phrase page_number=4 %}">4</a></li>
                                <li {% ifequal page_number 5 %}class="active" {% endifequal %}><a href="{% url 'blog_search' searched_phrase=searched_phrase page_number=5 %}">5</a></li>
                                <li class="next">
                                    <a href="{% url 'blog_search' searched_phrase=searched_phrase page_number=page_number_plus %}"><i class="arrow_right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="page-footer">
        <div class="row-one">
            <div class="container">
                <div class="logos">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-1.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-2.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-3.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-4.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-5.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                </div>
                <!--/ .logos-->
            </div>
        </div>
        <!--end row-one-->
        <div class="row-two clearfix">
            <div class="container">
                <div class="copyright pull-left">(C) 2016 Your Company, All Rights Reserved</div>
                <div class="footer-nav pull-right">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">About Us</a>
                    <a href="listing.html">Listing</a>
                    <a href="contact-us.html">Contact Us</a>
                </div>
            </div>
            <div class="bg-transfer"><img src="assets/img/footer-bg.jpg" alt=""></div>
        </div>
        <!--end row-two-->
    </footer>
    <!--end page-footer-->
</div>

{% endblock %}