{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
    {{ form.media }}
{% endblock %}
{% block main %}
    <div class="container">
        <div class="main-content">
            <div class="row">
                <div class="pull-right" style="margin-right: 20px;">
                    <h1><a href="{% url 'blog_create' user.id %}" style="color: #488f3e;">ثبت تجربه‌ی سفر</a></h1>
                </div>
            </div>

            <form id="form-profile" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" dir="rtl" role="alert"
                                 style="padding: 5px; text-align: center;">
                                <b style="display: inline-block;">خطا! </b>
                                <p style="display: inline-block;">{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" dir="rtl" role="alert"
                             style="padding: 5px; text-align: center;">
                            <b style="display: inline-block;">خطا! </b>
                            <p style="display: inline-block;">{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                        <section>
                            <div class="row">
                                <div class="form-group">
                                    <label for="title" class="pull-right">عنوان</label>
                                    <input type="text" class="form-control" id="title" name="title" required dir="rtl" value="{{form.title.value}}"  oninvalid="this.setCustomValidity('این فیلد لازم است.')">
                                </div>
                                <div class="form-group" dir="rtl">
                                    <label for="summernote" class="pull-right">تجربه‌ی سفر</label>
                                    {{ form.description }}
                                </div>

                                <div class="form-group" dir="rtl">
                                    <div class="ir-select">
                                        <div class="col-md-6 col-sm-6 pull-right">
                                            <label for="province">استان مقصد سفر</label>
                                            <select class="ir-province framed width-100" id="province" name="province"
                                                    required
                                                    oninvalid="this.setCustomValidity('این فیلد لازم است.')"></select>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <label for="city">شهر مقصد سفر</label>
                                            <select class="ir-city framed width-100" id="city" name="city" required
                                                    oninvalid="this.setCustomValidity('این فیلد لازم است.')"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="gallery" dir="rtl">
                            <div class="file-upload-previews"></div>
                            <label for="image">عکس کاور</label>
                            <div class="file-upload">
                                <input type="file" name="image" class="file-upload-input with-preview"
                                       title="برای اضافه کردن عکس کلیک کنید" accept="gif|jpg|png" id="image" required>
                                <span>برای اضافه کردن عکس کلیک کنید</span>
                            </div>
                        </section>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-large btn-primary btn-rounded" id="submit">ثبت تجربه‌ی سفر
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

