{% extends 'registration/user_dashboard.html' %}

{% block contents %}
    <div class="col-md-9" dir="rtl">
        <div class="main-content">
            <div class="my-items table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>اقامتگاه</th>
                        <th>نظرات</th>
                        <th>امتیاز</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for accommodation in object_list %}
                        <tr class="my-item">
                            <td>
                                <div class="image-wrapper pull-right">
                                    <a href="{% url 'edit_accommodation' accommodation.pk %}" class="image">
                                        <div class="bg-transfer">
                                            {% with accommodation.image_set.all|first as image %}
                                                <img class="image" src="{{ image.image.url }}" alt="">
                                            {% endwith %}
                                        </div>
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="{% url 'accommodation_detail' pk=accommodation.pk %}">
                                        <h2>{{ accommodation.title }}</h2></a>
                                    <figure class="location">{{ accommodation.city }}</figure>
                                    <figure class="label label-info">{{ accommodation.accommodation_type }}</figure>
                                    <div class="meta">
                                        <span>{{ accommodation.rooms }}<i class="fa fa-bed"></i></span>
                                    </div>
                                </div>
                            </td>
                            <td class="reviews" style="padding-right: 9px">{{ accommodation.review_set.count }}</td>
                            <td class="rating" style="padding-right: 5px">{{ accommodation.overall_score }}</td>
                            <td>
                                <div class="edit-options">
                                    <a href="{% url 'edit_accommodation' accommodation.pk %}" class="link icon"><i
                                            class="fa fa-edit"></i>تغییر مشخصات</a><br>
                                    <a href="{% url 'accommodation_reserve' accommodation.pk %}" class="link icon"><i
                                            class="fa fa-check-square-o"></i>تاریخچه
                                        رزرو</a><br>
                                    <a href="{% url 'accommodation_review' accommodation.pk %}" class="link icon"><i
                                            class="fa fa-comment"></i>نظرات</a>
                                    <a href="{% url 'delete_accommodation' accommodation.pk %}"
                                       class="link icon delete"><i class="fa fa-trash"></i>حذف</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
{% endblock %}

