{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="main-content">
        <div class="row">
            <div class="pull-right">
                <h1><a href="{% url 'password_reset' %}" style="color: #488f3e;">فراموشی رمز عبور</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email" class="pull-right">ایمیل</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <button type="submit">جست و جو</button>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}