{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="main-content">
            <div class="row text-center" dir="rtl" style="margin-top: 70px">
                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <p>
                        رمز عبور شما با موفقیت تغییر یافت. برای ورود به سامانه بر روی لینک زیر کلیک کنید:
                        <a href="{% url 'login' %}">ورود</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}