{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="pull-right" style="margin-right: 20px;">
                <h1><a href="{% url 'profile' pk=customuser.pk %}"
                       style="color: #488f3e;">@{{ customuser.username }} </a> پروفایل </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                {% block contents %}
                {% endblock %}
            </div>
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="box filter tex">
                        <div class="text-center">
                            <img src="{{ customuser.image.url }}" alt="" style="height: 150px; width: 150px;"/>
                        </div>
                        <ul class="text-center" style="margin-top: 20px; list-style: none; padding-left: 0px;
    line-height: 25px;">
                            <li dir="rtl">{{ customuser.first_name }} {{ customuser.last_name }}</li>
                            <li>
                                <figure class="label label-info large">میزبان</figure>
                            </li>
                            <li dir="rtl">{{ customuser.age }} سال</li>
                            {% if customuser.is_host %}
                                <li dir="rtl"><i class="fa fa-building"
                                                 style="padding-left: 5px"></i>{{ customuser.host.city }}</li>
                                {% if request.user.is_authenticated and request.user.is_superuser %}
                                    <li dir="rtl">{{ customuser.host.home_address }}</li>
                                    <li dir="rtl">{{ customuser.host.phone_number }}</li>
                                    <li dir="rtl"><a href="{{ customuser.host.passport_pic.url }}">شناسنامه</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}